force-app/main/default/flows/account_create_or_update_after_save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email1</name>
        <label>send email הודעת מערכת למי שלא פתחו</label>
        <locationX>748</locationX>
        <locationY>417</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>update_send_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info.vot@jafi.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>{!$Record.npe01__One2OneContact__r.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XN20000036KbpMAE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>send_email1_0</name>
        <label>send email הודעת מערכת למי שלא פתחו</label>
        <locationX>479</locationX>
        <locationY>487</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info.vot@jafi.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>003N200000kVY1KIAW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XN20000051EpFMAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>send_email1_0_0</name>
        <label>יום הזיכרון</label>
        <locationX>550</locationX>
        <locationY>50</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info.vot@jafi.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>003N200000kVY1KIAW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XN2000005EYQLMA4</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Message</name>
        <label>Send Message</label>
        <locationX>614</locationX>
        <locationY>607</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Keytana_Summer_2025</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>msg_Users</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Messaging_User</name>
        <label>Assign Messaging User</label>
        <locationX>602</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>msg_Users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Mes_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Message</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>data_fix_ttyy</name>
        <label>data fix = ttyy</label>
        <locationX>532</locationX>
        <locationY>223</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ttyy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.data_fix__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>קיץ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.data_fix__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Don_t_send_mailings__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Mes_User</targetReference>
            </connector>
            <label>ttyy</label>
        </rules>
    </decisions>
    <decisions>
        <name>send_email_true</name>
        <label>send email = true</label>
        <locationX>776</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>send_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.send_email_tamar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.send_email_tamar__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_email1</targetReference>
            </connector>
            <label>send email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>account create or update after save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>account create or update after save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Mes_User</name>
        <label>Get Mes User</label>
        <locationX>601</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Messaging_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npe01__One2OneContact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_send_email</name>
        <label>update send email</label>
        <locationX>753</locationX>
        <locationY>554</locationY>
        <inputAssignments>
            <field>send_email_tamar__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>917</locationX>
        <locationY>74</locationY>
        <connector>
            <targetReference>data_fix_ttyy</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>msg_Users</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
