force-app/main/default/flows/Assignment_of_contacts_to_owners.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>005N2000001lftZ שאריהאן</description>
        <name>Affiliation_assignment</name>
        <label>Affiliation assignment</label>
        <locationX>363</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Merchav_Kafri</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Speaks_Arabic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Languages__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Languages__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Arabic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner</targetReference>
            </connector>
            <label>Speaks Arabic</label>
        </rules>
    </decisions>
    <decisions>
        <description>Keren Shachar 005N20000030xpZIAQ</description>
        <name>LivesInCity</name>
        <label>LivesInCity</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assign_Ownership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>test</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>שלומית</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>צוחר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>נווה אבשלום</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בני נצרים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>עין הבשור</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>יבול</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>שדי אברהם</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>יתד</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>דקל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>פרי גן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>תלמי יוסף</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ישע</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מבטחים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>עמיעוז</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>תלמי אליהו</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>שדה ניצן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>אוהד</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>צאלים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>גבולות</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כרם שלום</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>חולית</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>סופה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ניר יצחק</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מגן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>רעים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ניר עוז</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>נירים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>עין השלושה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כיסופים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בארי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>אורים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כפר הנוער כפר סילבר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>באר גנים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ניצן ב&apos;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ניצן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בת הדר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>תלמי יפה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>נתיב העשרה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ניר ישראל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>משען</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מבקיעים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כוכב מיכאל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>חלץ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>הודיה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>גיאה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ברכיה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בית שקמה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ניצנים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כרמיה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>יד מרדכי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>זיקים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>גברעם</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>רוחמה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ניר עם</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>נחל עוז</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מפלסים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כפר עזה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>דורות</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>גבים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ברור חיל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ארז</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>אור הנר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>יכיני</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>תקומה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>תושיה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>שרשרת</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>שיבולים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>שוקדה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>שובה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>עלומים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>סעד</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מעגלים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מלילות</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כפר מימון</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>יושיביה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>זרועה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>זמרת</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>גבעולים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מושב</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בית הגדי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FindCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <label>לא להתייחס השארתי אם נצטרך כי זה המון עבודה ליצור מחדש</label>
        </rules>
        <rules>
            <name>Other_Cities</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>נתיבות</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>אשקלון</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>שדרות</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>אופקים </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>קריית גת</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>קריית מלאכי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ירוחם</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>דימונה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>אשדוד</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign</targetReference>
            </connector>
            <label>Other Cities in the South</label>
        </rules>
        <rules>
            <name>From_abroad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.View_Setup_and_Configuration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abroad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_owner</targetReference>
            </connector>
            <label>From abroad</label>
        </rules>
        <rules>
            <name>Center_Shomron_or_North</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.View_Setup_and_Configuration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>North</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.View_Setup_and_Configuration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.View_Setup_and_Configuration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shomron</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_Owner</targetReference>
            </connector>
            <label>Center Shomron or North</label>
        </rules>
    </decisions>
    <decisions>
        <name>Merchav_Kafri</name>
        <label>Merchav Kafri</label>
        <locationX>677</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>MultipleCasualties</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Area</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>שלומית</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>צוחר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>אבשלום</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בני נצרים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>עין הבשור</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>יבול</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>שדי אברהם</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>יתד</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>דקל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>פרי גן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>תלמי יוסף</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ישע</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מבטחים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>עמיעוז</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>תלמי אליהו</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>שדה ניצן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>אוהד</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>צאלים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>גבולות</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כרם שלום</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>חולית</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>סופה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ניר יצחק</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מגן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>רעים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ניר עוז</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>נירים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>עין השלושה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כיסופים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בארי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>אורים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כפר הנוער כפר סילבר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>באר גנים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ניצן ב&apos;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ניצן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בת הדר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>תלמי יפה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>נתיב העשרה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ניר ישראל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>משען</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מבקיעים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כוכב מיכאל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>חלץ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>הודיה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>גיאה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ברכיה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בית שקמה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ניצנים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כרמיה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>יד מרדכי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>זיקים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>גברעם</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>רוחמה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ניר עם</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>נחל עוז</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מפלסים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כפר עזה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>דורות</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>גבים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ברור חיל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ארז</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>אור הנר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>יכיני</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>תקומה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>תושיה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>שרשרת</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>שיבולים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>שוקדה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>שובה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>עלומים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>סעד</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מעגלים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מלילות</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כפר מימון</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>יושיביה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>זרועה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>זמרת</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>גבעולים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מושב</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בית הגדי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FindCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignToOwner</targetReference>
            </connector>
            <label>Area</label>
        </rules>
    </decisions>
    <decisions>
        <name>MultipleCasualties</name>
        <label>MultipleCasualties</label>
        <locationX>1040</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>RelatedToNova</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Multiple_Casualties</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Multiple_Casualties__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Owner</targetReference>
            </connector>
            <label>Multiple Casualties</label>
        </rules>
        <rules>
            <name>Multiple_casualties_returned_kidnapped</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Multiple_Casualties__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hostage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hostage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hostage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned Hostage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_Owner</targetReference>
            </connector>
            <label>Multiple casualties + returned/kidnapped</label>
        </rules>
    </decisions>
    <decisions>
        <description>005N20000025Xzt יעל</description>
        <name>RelatedToNova</name>
        <label>RelatedToNova</label>
        <locationX>1502</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>LivesInCity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_to_Nova</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Related_to_nova__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Killed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Related_to_nova__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Injured</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_record_s_Owner</targetReference>
            </connector>
            <label>Related to Nova</label>
        </rules>
    </decisions>
    <description>change user id to yael on nova incidents</description>
    <environments>Default</environments>
    <formulas>
        <name>FindCity</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.MailingCity},
&quot;עזה כפר&quot;, &quot;true&quot;,
&quot;בית הגדי&quot;, &quot;true&quot;,
&quot;ברור חיל&quot;, &quot;true&quot;,
&quot;אור הנר&quot;, &quot;true&quot;,
&quot;דורות&quot;, &quot;true&quot;,
&quot;כפר מימון&quot;, &quot;true&quot;,
&quot;מפלסים&quot;,&quot;true&quot;,
&quot;נחל עוז&quot;,&quot;true&quot;,
&quot;גבים&quot;, &quot;true&quot;,
&quot;ארז&quot;, &quot;true&quot;,
&quot;יכיני&quot;,&quot;true&quot;,
&quot;תקומה&quot;,&quot;true&quot;,
&quot;תושיה&quot;,&quot;true&quot;,
&quot;זיקים&quot;,&quot;true&quot;,
&quot;יד מרדכי&quot;,&quot;true&quot;,
&quot;שרשרת&quot;,&quot;true&quot;,
&quot;שיבולים&quot;,&quot;true&quot;,
&quot;שוקדה &quot;,&quot;true&quot;,
&quot;שובה&quot;,&quot;true&quot;,
&quot;עלומים&quot;,&quot;true&quot;,
&quot;סעד&quot;,&quot;true&quot;,
&quot;מעגלים&quot;,&quot;true&quot;,
&quot;ניצנים&quot;,&quot;true&quot;,
&quot;כרמיה&quot;,&quot;true&quot;,
&quot;גברעם&quot;,&quot;true&quot;,
&quot;רוחמה&quot;,&quot;true&quot;,
&quot;מלילות&quot;,&quot;true&quot;,
&quot;ניר&quot; ,&quot;true&quot;,
&quot;בית שקמה&quot;,&quot;true&quot;,
&quot;כוכב מיכאל&quot;,&quot;true&quot;,
&quot;נתיב העשרה&quot;,&quot;true&quot;,
&quot;תלמי יפה&quot;,&quot;true&quot;,
&quot;בת הדר&quot;,&quot;true&quot;,
&quot;ניר עם&quot;,&quot;true&quot;,
&quot;ניצן ב&quot;,&quot;true&quot;,
&quot;ניצן&quot;, &quot;true&quot;,
&quot;ברכיה&quot;, &quot;true&quot;,
&quot;באר גנים&quot;, &quot;true&quot;,
&quot;כפר הנוער כפר סילבר&quot;,&quot;true&quot;,
&quot;מבקיעים&quot;,&quot;true&quot;,
&quot;כיסופים&quot;,&quot;true&quot;,
&quot;בארי&quot;,&quot;true&quot;,
&quot;אורים&quot;,&quot;true&quot;,
&quot;משען&quot;,&quot;true&quot;,
&quot;חלץ&quot;,&quot;true&quot;,
&quot;הודיה&quot;,&quot;true&quot;,
&quot;גיאה&quot;,&quot;true&quot;,
&quot;יושיביה&quot;,&quot;true&quot;,
&quot;זרועה&quot;,&quot;true&quot;,
&quot;זמרת&quot;,&quot;true&quot;,
&quot;גבעולים&quot;,&quot;true&quot;,
&quot;מושב&quot;,&quot;true&quot;,
&quot;יבול&quot;,&quot;true&quot;,
&quot;מגן&quot;,&quot;true&quot;,
&quot;ניר ישראל&quot;,&quot;true&quot;,
&quot;יצחק&quot;,&quot;true&quot;,
&quot;תלמי אליהו&quot;,&quot;true&quot;,
&quot;פרי גן&quot;,&quot;true&quot;,
&quot;בני נצרים&quot;,&quot;true&quot;,
&quot;ישע&quot;,&quot;true&quot;,
&quot;מבטחים&quot;,&quot;true&quot;,
&quot;תלמי יוסף&quot;,&quot;true&quot;,
&quot;שדי אברהם&quot;,&quot;true&quot;,
&quot;עין השלושה&quot;,&quot;true&quot;,
&quot;כרם שלום&quot;,&quot;true&quot;,
&quot;ניר עוז&quot;,&quot;true&quot;,
&quot;שדה ניצן&quot;,&quot;true&quot;,
&quot;נירים&quot;,&quot;true&quot;,
&quot;עין הבשור&quot;,&quot;true&quot;,
&quot;נווה אבשלום&quot;,&quot;true&quot;,
&quot;שלומית&quot;,&quot;true&quot;,
&quot;סופה&quot;,&quot;true&quot;,
&quot;רעים&quot;,&quot;true&quot;,
&quot;יתד&quot;,&quot;true&quot;,
&quot;דקל&quot;,&quot;true&quot;,
&quot;עמיעוז&quot;,&quot;true&quot;,
&quot;צוחר&quot;,&quot;true&quot;,
&quot;אוהד&quot;,&quot;true&quot;,
&quot;צאלים&quot;,&quot;true&quot;,
&quot;גבולות&quot;,&quot;true&quot;,
&quot;חולית&quot;,&quot;true&quot;,
&quot;false&quot;)</expression>
    </formulas>
    <interviewLabel>Assignment of contacts to owners {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment of contacts to owners - change to update and only from FA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>AccountOwner</name>
        <label>AccountOwner</label>
        <locationX>1634</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005N20000030xpZIAQ</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>005N20000030xpZIAQ קרן שחר</description>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>1634</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>AccountOwner</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005N20000030xpZIAQ</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Account_owner</name>
        <label>Assign Account owner</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005N2000001lftZIAQ</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Account_Ownership</name>
        <label>Assign Account Ownership</label>
        <locationX>2426</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005N20000030xkj</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Account_s_Owner</name>
        <label>Assign Account&apos;s Owner</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005N20000025Xzt</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Sharian 005N2000001lftZIAQ</description>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Assign_Account_owner</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005N2000001lftZIAQ</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>005N20000030xkj shelly golan</description>
        <name>Assign_Ownership</name>
        <label>Assign Ownership</label>
        <locationX>2426</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Assign_Account_Ownership</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054L000002rrbSQAQ</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Record_Owner</name>
        <label>Assign Record Owner</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Assigning_Owner_for_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054L000002q5XXQAY</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>005N20000025Xzt yael levkovitz</description>
        <name>Assign_record_s_Owner</name>
        <label>Assign record&apos;s Owner</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Assign_Account_s_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005N20000025Xzt</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_the_Account_Owner</name>
        <label>Assign the Account Owner</label>
        <locationX>2162</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005N20000030xkjIAA</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>005N20000030xkj shelly golan</description>
        <name>Assign_the_Owner</name>
        <label>Assign the Owner</label>
        <locationX>2162</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Assign_the_Account_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005N20000030xkjIAA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AssignAccountOwner</name>
        <label>AssignAccountOwner</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005N2000001bqK1IAI</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assigning_Account_Owner</name>
        <label>Assigning Account Owner</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054L000002q5XXQAY</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assigning_Owner</name>
        <label>Assigning Owner</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Assigning_Account_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054L000002q5XXQAY</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assigning_Owner_for_Account</name>
        <label>Assigning Owner for Account</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054L000002q5XXQAY</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assignment_of_AccountOwner</name>
        <label>Assignment of AccountOwner</label>
        <locationX>1898</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005N20000030xkjIAA</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Shelly Golan 005N20000030xkj</description>
        <name>Assignment_of_owner</name>
        <label>Assignment of owner</label>
        <locationX>1898</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Assignment_of_AccountOwner</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005N20000030xkjIAA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>hagit 005N2000001bqK1IAI</description>
        <name>AssignToOwner</name>
        <label>AssignToOwner</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>AssignAccountOwner</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005N2000001bqK1IAI</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>237</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Affiliation_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124L000000HYN1QAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>005N2000002JpfBIAS</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
