force-app/main/default/flows/C_E_UPDATE_STATUS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>update_current_value</name>
        <label>update current value</label>
        <locationX>516</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>currentvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__r.Eligibility_type_multi_select__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_multi_select</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>fff</name>
        <label>fff</label>
        <locationX>1435</locationX>
        <locationY>286</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>fddd</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>זכאות לא רלוונטית</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Percentage_of_hostility_disability__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Percentage_of_hostility_disability__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_status</targetReference>
            </connector>
            <label>fddd</label>
        </rules>
        <rules>
            <name>CANCELLED</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Percentage_of_hostility_disability__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Percentage_of_hostility_disability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_status_0</targetReference>
            </connector>
            <label>CANCELLED</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_end_date_today</name>
        <label>if end date &lt; today</label>
        <locationX>1038</locationX>
        <locationY>148</locationY>
        <defaultConnector>
            <targetReference>fff</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>end_date_today</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_end_date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BL_Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Temporary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_status_Expired</targetReference>
            </connector>
            <label>end date &lt; today</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_is_new_by_fa</name>
        <label>if is new by fa</label>
        <locationX>415</locationX>
        <locationY>118</locationY>
        <defaultConnector>
            <targetReference>if_type_Permanent_and_end_date_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Survivor_from_the_7_10_party</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.data_fix__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survivor from the 7.10 party</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.data_fix__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of hostilities recognized by BL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tttt</targetReference>
            </connector>
            <label>Survivor from the 7.10 party</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_type_Permanent_and_end_date_null</name>
        <label>if type = Permanent and end date &lt;&gt; null</label>
        <locationX>755</locationX>
        <locationY>151</locationY>
        <defaultConnector>
            <targetReference>if_end_date_today</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>type_Permanent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BL_Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permanent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_end_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_end_date</targetReference>
            </connector>
            <label>type = Permanent</label>
        </rules>
    </decisions>
    <decisions>
        <name>tttt</name>
        <label>tt</label>
        <locationX>463</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>update_current_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Eligibility_type_multi_select__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_multi_select_0</targetReference>
            </connector>
            <label>ff</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DataFixNewValue</name>
        <dataType>String</dataType>
        <expression>{!currentvalue}+&apos;;&apos;+{!$Record.data_fix__c}</expression>
    </formulas>
    <formulas>
        <name>isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>C E UPDATE STATUS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>C E UPDATE STATUS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_end_date</name>
        <label>update end date</label>
        <locationX>743</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>if_end_date_today</targetReference>
        </connector>
        <inputAssignments>
            <field>Eligibility_end_date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_multi_select</name>
        <label>update multi select</label>
        <locationX>571</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>if_type_Permanent_and_end_date_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Eligibility_type_multi_select__c</field>
            <value>
                <elementReference>DataFixNewValue</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_multi_select_0</name>
        <label>update multi select</label>
        <locationX>407</locationX>
        <locationY>409</locationY>
        <connector>
            <targetReference>if_type_Permanent_and_end_date_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Eligibility_type_multi_select__c</field>
            <value>
                <elementReference>$Record.data_fix__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_status</name>
        <label>update status</label>
        <locationX>1125</locationX>
        <locationY>467</locationY>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue>סכום הזכאות נמוך מדי</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>זכאות לא רלוונטית</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_status_0</name>
        <label>update status</label>
        <locationX>1429</locationX>
        <locationY>438</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_status_Expired</name>
        <label>update status = Expired</label>
        <locationX>1053</locationX>
        <locationY>281</locationY>
        <connector>
            <targetReference>fff</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>if_is_new_by_fa</targetReference>
        </connector>
        <object>Contact_Eligibility__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
