force-app/main/default/flows/Check_if_Messaging_Session_created_on_weekend.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Time</name>
        <label>Check Time</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>IsraelTimeFromUTC</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Blackout_Times</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputDates</name>
            <value>
                <elementReference>Get_Messaging_Session.CreatedDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IsraelTimeFromUTC</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ReturnedDateTimeValuesFromApex</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_output_variable_to_true</name>
        <label>Assign output variable to true</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>WeekendOutputVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_output_variable_to_true2</name>
        <label>Assign output variable to true</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OtherTimeOutputVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageOutputVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Blackout_Times.Bot_Message__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_output_variable_to_true3</name>
        <label>Assign output variable to true</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AfterWorkHoursOutputVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageOutputVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AfterWorkHMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>isWeekend</name>
        <label>isWeekend</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Thursday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DayOfWeek</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Thursday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAfterThursdayAfternoon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_that_it_was_created_during_weekend</targetReference>
            </connector>
            <label>Thursday</label>
        </rules>
        <rules>
            <name>During_Weekend</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Friday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saturday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_that_it_was_created_during_weekend</targetReference>
            </connector>
            <label>During Weekend</label>
        </rules>
        <rules>
            <name>Sunday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsBeforeSundayWorkHours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DayOfWeek</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sunday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_that_it_was_created_during_weekend</targetReference>
            </connector>
            <label>Sunday</label>
        </rules>
        <rules>
            <name>Other_No_service_time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Blackout_Times.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Record_to_created_on_Other_No_service_time</targetReference>
            </connector>
            <label>Other No service time</label>
        </rules>
        <rules>
            <name>After_work_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeOfDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_to_Created_after_work_hours</targetReference>
            </connector>
            <label>After work hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Founds</name>
        <label>Records Founds</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messaging_Session.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Time</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>put in new class to level out time</description>
    <environments>Default</environments>
    <formulas>
        <name>DayOfWeek</name>
        <dataType>String</dataType>
        <expression>CASE(
WEEKDAY(DATEVALUE( {!ReturnedDateTimeValuesFromApex})),
1, &quot;Sunday&quot;,
2, &quot;Monday&quot;,
3, &quot;Tuesday&quot;,
4, &quot;Wednesday&quot;,
5, &quot;Thursday&quot;,
6, &quot;Friday&quot;,
7, &quot;Saturday&quot;,
&quot;Unknown&quot;
)</expression>
    </formulas>
    <formulas>
        <name>hour</name>
        <dataType>Number</dataType>
        <expression>10/24</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IsAfterThursdayAfternoon</name>
        <dataType>Boolean</dataType>
        <expression>OR(
  VALUE(MID({!ReturnedDateTimeValuesFromApex}, 12, 2)) &gt; 16,
  AND(
    VALUE(MID({!ReturnedDateTimeValuesFromApex}, 12, 2)) = 16,
    VALUE(MID({!ReturnedDateTimeValuesFromApex}, 15, 2)) &gt;= 30
  )
)</expression>
    </formulas>
    <formulas>
        <name>IsBeforeSundayWorkHours</name>
        <dataType>Boolean</dataType>
        <expression>VALUE(MID({!ReturnedDateTimeValuesFromApex}, 12, 2))&lt;8</expression>
    </formulas>
    <formulas>
        <name>PastWorkHours</name>
        <dataType>Boolean</dataType>
        <expression>OR(
  (NOW() - DATETIMEVALUE(TEXT(DATEVALUE(NOW())) &amp; &quot; 00:00:00&quot;)) &lt; (8/24),
  (NOW() - DATETIMEVALUE(TEXT(DATEVALUE(NOW())) &amp; &quot; 00:00:00&quot;)) &gt; (17/24)
)</expression>
    </formulas>
    <formulas>
        <name>TimeOfDay</name>
        <dataType>Boolean</dataType>
        <expression>OR(
  VALUE(MID({!ReturnedDateTimeValuesFromApex}, 12, 2)) &lt; 8,
  VALUE(MID({!ReturnedDateTimeValuesFromApex}, 12, 2)) &gt; 16,
  AND(
    VALUE(MID({!ReturnedDateTimeValuesFromApex}, 12, 2)) = 16,
    VALUE(MID({!ReturnedDateTimeValuesFromApex}, 15, 2)) &gt;= 30
  )
)</expression>
    </formulas>
    <formulas>
        <name>TimeRecordCreated</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!Get_Messaging_Session.CreatedDate}), 12, 5)</expression>
    </formulas>
    <interviewLabel>Check if Messaging Session created on weekend {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check if Messaging Session created on weekend or after work hours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Blackout_Times</name>
        <label>Get Blackout Times</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isWeekend</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Blackout_Start_time__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Get_Messaging_Session.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Blackout_end_time__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Get_Messaging_Session.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TestRecord__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Blackout_Time__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Session</name>
        <label>Get Messaging Session</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Founds</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MessagingEndUserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessageUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_that_it_was_created_during_weekend</name>
        <label>Update Record that it was created during weekend</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Assign_output_variable_to_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_Session.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Was_created_during_Weekend__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_to_Created_after_work_hours</name>
        <label>Update Record to Created after work hours</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_output_variable_to_true3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_Session.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>After_work_hours__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_to_created_on_Other_No_service_time</name>
        <label>Update Record to created on Other No service time</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_output_variable_to_true2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_Session.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Blackout_Time__c</field>
            <value>
                <elementReference>Get_Blackout_Times.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherNoService__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Messaging_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AfterWorkHMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>שירות המענה לפניות שלנו הסתיים להיום.
שעות המענה הם:
08:00 - 16:30 ראשון - חמישי</text>
    </textTemplates>
    <variables>
        <name>AfterWorkHoursOutputVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChagOutputVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EndTimeOutputVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MessageOutputVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MessageUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherTimeOutputVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReasonOutputVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnedDateTimeValuesFromApex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeOutputVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WeekendOutputVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
