force-app/main/default/flows/Check_for_duplicate_requests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>705</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>SingleOpp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Dup_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpp.Suspected_Duplicate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Col_Opps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Dup_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>837</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>single_Payment.ERP_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_Payment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Payment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PAyment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>single_Payment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Payment</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Prevent_from_granting_to_duplicate</name>
        <label>Prevent from granting to duplicate</label>
        <locationX>366</locationX>
        <locationY>1090</locationY>
        <customErrorMessages>
            <errorMessage>לא ניתן לתת מענק לבקשה כפולה זו
{!Get_duplicate_opportunity_0.Id}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_user_is_Hila</name>
        <label>Check user is Hila</label>
        <locationX>508</locationX>
        <locationY>1062</locationY>
        <defaultConnector>
            <targetReference>Stage_Ready_for_Transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user_is_Hila</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hila</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gaier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for transfer to ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fund__r.Fund_type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>חירום</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_duplicate_opportunity_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yael</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Raz</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prevent_from_granting_to_duplicate</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>user is Hila</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Stage_Ready_for_Transfer_and_First</name>
        <label>Copy 1 of Stage Ready for Transfer and First</label>
        <locationX>881</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fund__r.Fund_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>סיוע חירום</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Record_not_NULL</name>
        <label>Find Record &lt;&gt; NULL</label>
        <locationX>749</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Stage_Ready_for_Transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Are_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_duplicate_opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Dup_Ids</targetReference>
            </connector>
            <label>Records Are Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Ready_for_Transfer</name>
        <label>Stage Ready for Transfer and First</label>
        <locationX>749</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Stage_Ready_for_Transfer_and_First</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for transfer to ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fund__r.Fund_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>סיוע חירום</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Add fund type</description>
    <environments>Default</environments>
    <interviewLabel>Check for duplicate requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check for duplicate requests and update Payment ERP Status</label>
    <loops>
        <name>Loop_on_Dup_Ids</name>
        <label>Loop on Dup Ids</label>
        <locationX>617</locationX>
        <locationY>587</locationY>
        <collectionReference>Get_duplicate_opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Current_Opportunity_Is_Duplicate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Payment</name>
        <label>Loop on Payment</label>
        <locationX>749</locationX>
        <locationY>1787</locationY>
        <collectionReference>Get_Payment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Payment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_duplicate_opportunity</name>
        <label>Get duplicate opportunity</label>
        <locationX>749</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Record_not_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fund__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fund__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fund_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>חירום</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_duplicate_opportunity_0</name>
        <label>Get duplicate opportunity</label>
        <locationX>537</locationX>
        <locationY>894</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_user_is_Hila</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fund__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fund__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fund_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>חירום</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transferred to ERP</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready for transfer to ERP</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finished</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment</name>
        <label>Get Payment</label>
        <locationX>749</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Current_Opportunity_Is_Duplicate</name>
        <label>Current Opportunity Is Duplicate</label>
        <locationX>556</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Opps</targetReference>
        </connector>
        <inputAssignments>
            <field>Suspected_Duplicate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opps</name>
        <label>Update Opps</label>
        <locationX>445</locationX>
        <locationY>751</locationY>
        <connector>
            <targetReference>Get_duplicate_opportunity_0</targetReference>
        </connector>
        <inputReference>Col_Opps</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment</name>
        <label>Update Payment</label>
        <locationX>749</locationX>
        <locationY>2087</locationY>
        <inputReference>col_PAyment</inputReference>
    </recordUpdates>
    <start>
        <locationX>623</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_duplicate_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124L000000ka1WQAQ</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Col_Opps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>col_PAyment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>Duplicate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>single_Payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>SingleOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
