force-app/main/default/flows/Contact_Update_VOT_full_name_for_other_family_members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_update_list</name>
        <label>Add to update list</label>
        <locationX>750</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>Updatelist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_VOT_full_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_VOT_full_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VOT_Full_name</name>
        <label>Assign VOT Full name</label>
        <locationX>747</locationX>
        <locationY>781</locationY>
        <assignmentItems>
            <assignToReference>Update_VOT_full_name.VOT_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VOT_Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_update_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Were_other_family_members_found</name>
        <label>Were other family members found</label>
        <locationX>570</locationX>
        <locationY>589</locationY>
        <defaultConnectorLabel>not found</defaultConnectorLabel>
        <rules>
            <name>found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_other_family_members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_VOT_full_name</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contact - Update VOT full name for other family members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Update VOT full name for other family members</label>
    <loops>
        <name>Update_VOT_full_name</name>
        <label>Update VOT full name</label>
        <locationX>582</locationX>
        <locationY>769</locationY>
        <collectionReference>Get_other_family_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_VOT_Full_name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_familymembers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_other_family_members</name>
        <label>Get other family members</label>
        <locationX>568</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_other_family_members_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>VOT_Full_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.VOT_Full_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_familymembers</name>
        <label>Update familymembers</label>
        <locationX>599</locationX>
        <locationY>1055</locationY>
        <inputReference>Updatelist</inputReference>
    </recordUpdates>
    <start>
        <locationX>444</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>Get_other_family_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VOT_Full_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Updatelist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
