force-app/main/default/flows/CONTACT_ELIGIBIL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>FAOUND_Deceased_0_0</name>
        <label>FAOUND 	 Deceased?</label>
        <locationX>1285</locationX>
        <locationY>418</locationY>
        <defaultConnector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_Deceased_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contact_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_R_0</targetReference>
            </connector>
            <label>YES 	 Deceased</label>
        </rules>
    </decisions>
    <decisions>
        <name>FAOUND_Deceased_0_0_0</name>
        <label>FAOUND 	 Deceased?</label>
        <locationX>1299</locationX>
        <locationY>1036</locationY>
        <defaultConnector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_Deceased_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contact_0_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_R_0_0</targetReference>
            </connector>
            <label>YES 	 Deceased</label>
        </rules>
    </decisions>
    <decisions>
        <name>FOR_UPDATE_ELIGIBILUTY_END_DATE</name>
        <label>FOR UPDATE ELIGIBILUTY END DATE</label>
        <locationX>2694</locationX>
        <locationY>654</locationY>
        <defaultConnector>
            <targetReference>update_end_date_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BL</name>
            <conditionLogic>(1 OR 2 OR 5) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>GET_For_eligibility_calculation.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_For_eligibility_calculation.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_For_eligibility_calculation.BL_Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Temporary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_For_eligibility_calculation.Contact__r.Cumulative_eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_For_eligibility_calculation.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of &quot;Am Kalavi&quot; who were recognized with 20% disability or more by the Bituach Leumi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_end_date_BL</targetReference>
            </connector>
            <label>ביטוח לאומי</label>
        </rules>
        <rules>
            <name>FIRSTE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_For_eligibility_calculation.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Responders</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_For_eligibility_calculation.Contact__r.Cumulative_eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_end_date</targetReference>
            </connector>
            <label>מגיבים ראשונים</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_BL_Temporary</name>
        <label>IF BL =Temporary</label>
        <locationX>197</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BL_Temporary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BL_Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Temporary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_end_date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_STATUS_Expired</targetReference>
            </connector>
            <label>BL =Temporary</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Cumulative_eligibility</name>
        <label>if Cumulative eligibility</label>
        <locationX>1918</locationX>
        <locationY>82</locationY>
        <defaultConnector>
            <targetReference>IF_EDIT_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cumulative_eligibility</name>
            <conditionLogic>(1 OR 2 OR 3 OR 6) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned Hostage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Orphan from two parents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guardian for orphans from two parents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cumulative_eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Cumulative_eligibility</targetReference>
            </connector>
            <label>Cumulative eligibility</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_E_type_E_table</name>
        <label>if E type &lt;&gt; E table</label>
        <locationX>526</locationX>
        <locationY>332</locationY>
        <defaultConnector>
            <targetReference>IF_ISNEW_OR_STATUS_CHAINGED</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>E_type_E_table</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Eligibity_Table__r.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibity_Table__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_E_table</targetReference>
            </connector>
            <label>E type &lt;&gt; E table</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_EDIT_0</name>
        <label>IF EDIT</label>
        <locationX>2533</locationX>
        <locationY>297</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EDIT_0</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.For_eligibility_calculation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flag__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>זכאות לא רלוונטית</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_For_eligibility_calculation</targetReference>
            </connector>
            <label>EDIT</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_EDIT_0_0</name>
        <label>IF EDIT</label>
        <locationX>2214</locationX>
        <locationY>261</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EDIT_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flag__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cumulative_eligibility__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.For_eligibility_calculation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_C_E</targetReference>
            </connector>
            <label>EDIT</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Eligibility_Other</name>
        <label>if Eligibility = Other</label>
        <locationX>528</locationX>
        <locationY>798</locationY>
        <defaultConnector>
            <targetReference>if_Eligibility_Other_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligibility_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_E_table_0</targetReference>
            </connector>
            <label>Eligibility = Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Eligibility_Other_0</name>
        <label>if Eligibility = Other</label>
        <locationX>603</locationX>
        <locationY>873</locationY>
        <defaultConnector>
            <targetReference>IF_ISNEW_OR_STATUS_CHAINGED</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligibility_Other_0</name>
            <conditionLogic>(1 AND (2 OR 3 OR 5)) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Percentage_of_hostility_disability__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Percentage_of_hostility_disability__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of &quot;Am Kalavi&quot; who were recognized with 20% disability or more by the Bituach Leumi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_E_table</targetReference>
            </connector>
            <label>Eligibility = Other</label>
        </rules>
        <rules>
            <name>X20</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Percentage_of_hostility_disability__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of &quot;Am Kalavi&quot; who were recognized with 20% disability or more by the Bituach Leumi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_E_table_0_0</targetReference>
            </connector>
            <label>&lt; 20</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found</name>
        <label>if found</label>
        <locationX>520</locationX>
        <locationY>668</locationY>
        <defaultConnector>
            <targetReference>update_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_E_table</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_Eligibility_Other</targetReference>
            </connector>
            <label>yes found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found1</name>
        <label>if found</label>
        <locationX>2122</locationX>
        <locationY>720</locationY>
        <defaultConnector>
            <targetReference>For_eligibility_calculation_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_delete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_to_delete</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found1_0</name>
        <label>if found</label>
        <locationX>2242</locationX>
        <locationY>975</locationY>
        <defaultConnector>
            <targetReference>For_eligibility_calculation_c_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_delete_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_to_delete_0</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found1_0_0</name>
        <label>if found</label>
        <locationX>2494</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>For_eligibility_calculation_c_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found2_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_delete_0_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_to_delete_0_0</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found1_0_0_0</name>
        <label>if found</label>
        <locationX>2564</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>For_eligibility_calculation_c_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found2_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_delete1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_to_delete_0_0_0</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found_0</name>
        <label>if found</label>
        <locationX>1511</locationX>
        <locationY>711</locationY>
        <defaultConnector>
            <targetReference>update_flag_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOT_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_R</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_flag</targetReference>
            </connector>
            <label>NOT found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found_0_0</name>
        <label>if found</label>
        <locationX>2184</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>GET_C_E_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_C_E</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_delete</targetReference>
            </connector>
            <label>yes found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found_0_0_0</name>
        <label>if found</label>
        <locationX>2283</locationX>
        <locationY>744</locationY>
        <defaultConnector>
            <targetReference>GET_C_E_other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_found_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_C_E_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_delete_0</targetReference>
            </connector>
            <label>yes found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found_0_0_0_0</name>
        <label>if found</label>
        <locationX>2555</locationX>
        <locationY>1561</locationY>
        <defaultConnector>
            <targetReference>IF_EDIT_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_found_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_C_E_0_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_delete_0_0</targetReference>
            </connector>
            <label>yes found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found_0_0_0_0_0</name>
        <label>if found</label>
        <locationX>2638</locationX>
        <locationY>568</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_found_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_For_eligibility_calculation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FOR_UPDATE_ELIGIBILUTY_END_DATE</targetReference>
            </connector>
            <label>yes found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found_0_0_0_0_0_0</name>
        <label>if found</label>
        <locationX>731</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>update_flag_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOT_found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_R_Spouse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_flag_0</targetReference>
            </connector>
            <label>NOT found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found_0_0_0_0_0_0_0</name>
        <label>if found</label>
        <locationX>876</locationX>
        <locationY>478</locationY>
        <defaultConnector>
            <targetReference>update_flag_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOT_found_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Legal_Guardian</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_flag_0_0_0_0</targetReference>
            </connector>
            <label>NOT found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found_0_0_0_0_0_0_0_0</name>
        <label>if found</label>
        <locationX>980</locationX>
        <locationY>748</locationY>
        <defaultConnector>
            <targetReference>update_flag_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOT_found_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_R_Spouse_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_flag_0_0_0_0_0_0</targetReference>
            </connector>
            <label>NOT found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found_0_0_0_0_0_0_0_0_0</name>
        <label>if found</label>
        <locationX>1142</locationX>
        <locationY>697</locationY>
        <defaultConnector>
            <targetReference>update_flag_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOT_found_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_h</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_flag_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>NOT found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found_0_0_0_0_0_0_0_0_0_0</name>
        <label>if found</label>
        <locationX>1329</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>get_contact_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOT_found_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_R_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_flag_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>NOT found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>if found</label>
        <locationX>1343</locationX>
        <locationY>1374</locationY>
        <defaultConnector>
            <targetReference>update_flag_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOT_found_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_R_0_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_flag_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>NOT found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>if found</label>
        <locationX>1721</locationX>
        <locationY>706</locationY>
        <defaultConnector>
            <targetReference>update_flag_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOT_found_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_R_Sibling</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_flag_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>NOT found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>if found</label>
        <locationX>2403</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>GET_C_E_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_found_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_C_E_other</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_delete1</targetReference>
            </connector>
            <label>yes found</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_ISNEW_OR_STATUS_CHAINGED</name>
        <label>IF ISNEW OR STATUS CHAINGED</label>
        <locationX>694</locationX>
        <locationY>121</locationY>
        <defaultConnector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISNEW_OR_STATUS_CHAINGED</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibity_Table__r.Eligibility_Relationship__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Oneself</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.Relationship__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_Spouse</targetReference>
            </connector>
            <label>ISNEW OR STATUS CHAINGED</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Recognition_Date_c_null</name>
        <label>if Recognition_Date = null</label>
        <locationX>300</locationX>
        <locationY>493</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recognition_Date_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Recognition_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_STATUS_Expired_0</targetReference>
            </connector>
            <label>Recognition_Date = null</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Spouse</name>
        <label>if Spouse</label>
        <locationX>958</locationX>
        <locationY>154</locationY>
        <defaultConnector>
            <targetReference>GET_R</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_Spouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Widow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_R_Spouse</targetReference>
            </connector>
            <label>yes Spouse</label>
        </rules>
        <rules>
            <name>Guardian_for_orphans_from_two_parents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guardian for orphans from two parents</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Legal_Guardian</targetReference>
            </connector>
            <label>Guardian for orphans from two parents</label>
        </rules>
        <rules>
            <name>hostage_Spouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse of a hostage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_R_Spouse_0</targetReference>
            </connector>
            <label>hostage Spouse</label>
        </rules>
        <rules>
            <name>hostage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Divorced parents of hostage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parents of a hostage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_h</targetReference>
            </connector>
            <label>hostage</label>
        </rules>
        <rules>
            <name>two_parents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Orphan from two parents</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_contact_0</targetReference>
            </connector>
            <label>two parents</label>
        </rules>
        <rules>
            <name>Sibling</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sibling or child of a hostage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sibling or child of a hostage (40+)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_R_Sibling</targetReference>
            </connector>
            <label>Sibling</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!GET_For_eligibility_calculation.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>date_3</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!GET_For_eligibility_calculation.Contact__r.Incident_Date__c},36)</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CONTACT ELIGIBIL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTACT ELIGIBILITY CREATE OR UPDATE AFTER SAVE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_C_E</name>
        <label>GET C E</label>
        <locationX>2167</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>For_eligibility_calculation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount_from_Eligibility_Table__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Eligibility_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_C_E_0</name>
        <label>GET C E</label>
        <locationX>2251</locationX>
        <locationY>630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cumulative_eligibility__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Eligibility__c</object>
        <sortField>Amount_from_Eligibility_Table__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_C_E_0_0</name>
        <label>GET C E</label>
        <locationX>2489</locationX>
        <locationY>1438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Eligibility__c</object>
        <sortField>Amount_from_Eligibility_Table__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_C_E_0_0_0</name>
        <label>GET C E</label>
        <locationX>2279</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>1 AND 2 AND 8 AND 9 AND ((3 AND 4) OR ((5 OR 6) AND 7))</filterLogic>
        <filters>
            <field>Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Eligibility_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
            </value>
        </filters>
        <filters>
            <field>Eligibility_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
            </value>
        </filters>
        <filters>
            <field>Eligibility_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
            </value>
        </filters>
        <filters>
            <field>Eligibility_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
            </value>
        </filters>
        <filters>
            <field>BL_Eligibility_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permanent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cumulative_eligibility__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Eligibility__c</object>
        <sortField>Amount_from_Eligibility_Table__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_C_E_other</name>
        <label>GET C E other</label>
        <locationX>2405</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Amount_from_Other_Eligibility__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Eligibility__c</object>
        <sortField>Amount_from_Other_Eligibility__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_contact_0</name>
        <label>get contact</label>
        <locationX>1337</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FAOUND_Deceased_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Deceased__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Age__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_contact_0_0</name>
        <label>get contact</label>
        <locationX>1351</locationX>
        <locationY>892</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FAOUND_Deceased_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Deceased__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>get_contact_0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Age__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_delete</name>
        <label>get delete</label>
        <locationX>2114</locationX>
        <locationY>619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>For_eligibility_calculation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_delete1</name>
        <label>get delete1</label>
        <locationX>2495</locationX>
        <locationY>942</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found1_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>For_eligibility_calculation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_delete_0</name>
        <label>get delete</label>
        <locationX>2235</locationX>
        <locationY>875</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>For_eligibility_calculation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_delete_0_0</name>
        <label>get delete</label>
        <locationX>2560</locationX>
        <locationY>1697</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found1_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>For_eligibility_calculation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_E_table</name>
        <label>get E table</label>
        <locationX>531</locationX>
        <locationY>536</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Eligibility_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Eligibility_Table__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_For_eligibility_calculation</name>
        <label>GET For eligibility calculation</label>
        <locationX>2609</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>For_eligibility_calculation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_h</name>
        <label>GET h</label>
        <locationX>1147</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe4__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Child</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_Contact_hostage__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe4__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_hostage_Spouse</name>
        <label>get hostage Spouse</label>
        <locationX>1070</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Hostage_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Age__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Legal_Guardian</name>
        <label>GET Legal Guardian</label>
        <locationX>870</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe4__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal Guardian</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe4__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_R</name>
        <label>GET R</label>
        <locationX>1503</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe4__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Child</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_Contact_Deceased__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe4__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_R_0</name>
        <label>GET R</label>
        <locationX>1324</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe4__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe4__RelatedContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_contact_0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe4__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_R_0_0</name>
        <label>GET R</label>
        <locationX>1340</locationX>
        <locationY>1242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe4__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe4__RelatedContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_contact_0_0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe4__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_R_Sibling</name>
        <label>GET R Sibling</label>
        <locationX>1716</locationX>
        <locationY>573</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>1 AND (3 OR 5) AND (2 OR 4)</filterLogic>
        <filters>
            <field>npe4__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_Contact_hostage__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sibling</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_Contact_Deceased__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe4__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_R_Spouse</name>
        <label>GET R Spouse</label>
        <locationX>733</locationX>
        <locationY>644</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 4 OR 5 OR 6) AND 3</filterLogic>
        <filters>
            <field>npe4__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spouse</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_Contact_Deceased__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Publicly known</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Divorcee</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Widow</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe4__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_R_Spouse_0</name>
        <label>GET R Spouse</label>
        <locationX>1002</locationX>
        <locationY>627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 4 OR 5 OR 6) AND 3</filterLogic>
        <filters>
            <field>npe4__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Relationship_Table_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Contact_hostage__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Publicly known</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Divorcee</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Widow</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe4__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Spouse</name>
        <label>get Spouse</label>
        <locationX>479</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Deceased__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Age__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>For_eligibility_calculation_c</name>
        <label>For_eligibility_calculation__c</label>
        <locationX>2033</locationX>
        <locationY>833</locationY>
        <connector>
            <targetReference>IF_EDIT_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_C_E.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>For_eligibility_calculation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>For_eligibility_calculation_c_0</name>
        <label>For_eligibility_calculation__c</label>
        <locationX>2140</locationX>
        <locationY>1114</locationY>
        <connector>
            <targetReference>IF_EDIT_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_C_E_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>For_eligibility_calculation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>For_eligibility_calculation_c_0_0</name>
        <label>For_eligibility_calculation__c</label>
        <locationX>2396</locationX>
        <locationY>1854</locationY>
        <connector>
            <targetReference>IF_EDIT_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_C_E_0_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>For_eligibility_calculation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>For_eligibility_calculation_c_0_0_0_0</name>
        <label>For_eligibility_calculation__c</label>
        <locationX>2732</locationX>
        <locationY>1045</locationY>
        <connector>
            <targetReference>IF_EDIT_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_C_E_other.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>For_eligibility_calculation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_c_Cumulative_eligibility</name>
        <label>update c.Cumulative eligibility</label>
        <locationX>2123</locationX>
        <locationY>129</locationY>
        <connector>
            <targetReference>IF_EDIT_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cumulative_eligibility__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Cumulative_eligibility</name>
        <label>update Cumulative eligibility</label>
        <locationX>2064</locationX>
        <locationY>25</locationY>
        <connector>
            <targetReference>update_c_Cumulative_eligibility</targetReference>
        </connector>
        <inputAssignments>
            <field>Cumulative_eligibility__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_E_table</name>
        <label>update E table</label>
        <locationX>606</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>IF_ISNEW_OR_STATUS_CHAINGED</targetReference>
        </connector>
        <inputAssignments>
            <field>Eligibity_Table__c</field>
            <value>
                <elementReference>get_E_table.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amount_for_flow__c</field>
            <value>
                <elementReference>get_E_table.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_E_table_0</name>
        <label>update E table</label>
        <locationX>510</locationX>
        <locationY>978</locationY>
        <connector>
            <targetReference>IF_ISNEW_OR_STATUS_CHAINGED</targetReference>
        </connector>
        <inputAssignments>
            <field>Eligibity_Table__c</field>
            <value>
                <elementReference>get_E_table.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amount_for_flow__c</field>
            <value>
                <elementReference>$Record.Amount_from_Other_Eligibility__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_E_table_0_0</name>
        <label>update E table</label>
        <locationX>701</locationX>
        <locationY>1028</locationY>
        <connector>
            <targetReference>IF_ISNEW_OR_STATUS_CHAINGED</targetReference>
        </connector>
        <inputAssignments>
            <field>Eligibity_Table__c</field>
            <value>
                <elementReference>get_E_table.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue>סכום הזכאות נמוך מדי</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>זכאות לא רלוונטית</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_end_date</name>
        <label>update end date מגיבים ראשונים</label>
        <locationX>2702</locationX>
        <locationY>825</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_date_of_eligibility__c</field>
            <value>
                <elementReference>date</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_end_date_3</name>
        <label>update end date 3 שנים מתאריך האירוע</label>
        <locationX>2807</locationX>
        <locationY>789</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_date_of_eligibility__c</field>
            <value>
                <elementReference>date_3</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_end_date_BL</name>
        <label>update end date ביטוח לאומי</label>
        <locationX>2587</locationX>
        <locationY>804</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_date_of_eligibility__c</field>
            <value>
                <elementReference>GET_For_eligibility_calculation.Eligibility_end_date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_flag</name>
        <label>update flag</label>
        <locationX>1541</locationX>
        <locationY>927</locationY>
        <connector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_flag_0</name>
        <label>update flag</label>
        <locationX>829</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_flag_0_0</name>
        <label>update flag</label>
        <locationX>715</locationX>
        <locationY>885</locationY>
        <connector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_flag_0_0_0</name>
        <label>update flag</label>
        <locationX>1637</locationX>
        <locationY>892</locationY>
        <connector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_flag_0_0_0_0</name>
        <label>update flag</label>
        <locationX>895</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_flag_0_0_0_0_0</name>
        <label>update flag</label>
        <locationX>818</locationX>
        <locationY>596</locationY>
        <connector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_flag_0_0_0_0_0_0</name>
        <label>update flag</label>
        <locationX>1032</locationX>
        <locationY>901</locationY>
        <connector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_flag_0_0_0_0_0_0_0</name>
        <label>update flag</label>
        <locationX>932</locationX>
        <locationY>881</locationY>
        <connector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_flag_0_0_0_0_0_0_0_0</name>
        <label>update flag</label>
        <locationX>1140</locationX>
        <locationY>985</locationY>
        <connector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_flag_0_0_0_0_0_0_0_0_0</name>
        <label>update flag</label>
        <locationX>1267</locationX>
        <locationY>877</locationY>
        <connector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_flag_0_0_0_0_0_0_0_0_0_0</name>
        <label>update flag</label>
        <locationX>1432</locationX>
        <locationY>823</locationY>
        <connector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_flag_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>update flag</label>
        <locationX>1216</locationX>
        <locationY>1369</locationY>
        <connector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_flag_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>update flag</label>
        <locationX>1446</locationX>
        <locationY>1441</locationY>
        <connector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_flag_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>update flag</label>
        <locationX>1749</locationX>
        <locationY>920</locationY>
        <connector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_flag_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>update flag</label>
        <locationX>1845</locationX>
        <locationY>885</locationY>
        <connector>
            <targetReference>if_Cumulative_eligibility</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_status</name>
        <label>update status</label>
        <locationX>366</locationX>
        <locationY>865</locationY>
        <connector>
            <targetReference>IF_ISNEW_OR_STATUS_CHAINGED</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_STATUS_Expired</name>
        <label>UPDATE STATUS = Expired</label>
        <locationX>139</locationX>
        <locationY>645</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_STATUS_Expired_0</name>
        <label>UPDATE STATUS = Expired</label>
        <locationX>325</locationX>
        <locationY>667</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_to_delete</name>
        <label>update to delete</label>
        <locationX>2145</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>For_eligibility_calculation_c</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_delete.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>For_eligibility_calculation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_to_delete_0</name>
        <label>update to delete</label>
        <locationX>2268</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>For_eligibility_calculation_c_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_delete_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>For_eligibility_calculation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_to_delete_0_0</name>
        <label>update to delete</label>
        <locationX>2584</locationX>
        <locationY>1875</locationY>
        <connector>
            <targetReference>For_eligibility_calculation_c_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_delete_0_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>For_eligibility_calculation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_to_delete_0_0_0</name>
        <label>update to delete</label>
        <locationX>2640</locationX>
        <locationY>1183</locationY>
        <connector>
            <targetReference>For_eligibility_calculation_c_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_delete1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>For_eligibility_calculation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>141</locationY>
        <connector>
            <targetReference>if_E_type_E_table</targetReference>
        </connector>
        <object>Contact_Eligibility__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_day_after_eligibility_end_date</name>
            <connector>
                <targetReference>IF_BL_Temporary</targetReference>
            </connector>
            <label>1 day after eligibility end date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Eligibility_end_date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3_years_after_Incident_Date</name>
            <connector>
                <targetReference>if_Recognition_Date_c_null</targetReference>
            </connector>
            <label>3 years after Incident Date</label>
            <offsetNumber>36</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>Incident_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2day_after_eligibility_end_date</name>
            <connector>
                <targetReference>IF_BL_Temporary</targetReference>
            </connector>
            <label>2day after eligibility end date</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Eligibility_end_date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
