force-app/main/default/flows/contact_update_Date_Deceased_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>if_age_18</name>
        <label>if age = 18</label>
        <locationX>1427</locationX>
        <locationY>184</locationY>
        <defaultConnector>
            <targetReference>if_amount_eligibility_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_age_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Age__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_age_18_date</targetReference>
            </connector>
            <label>yes age = 18</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_amount_eligibility_is_changed</name>
        <label>if amount eligibility is changed</label>
        <locationX>1607</locationX>
        <locationY>192</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>amount_eligibility_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount_Eligible__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_contact</targetReference>
            </connector>
            <label>amount eligibility is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Birthdate_null</name>
        <label>if Birthdate = null</label>
        <locationX>802</locationX>
        <locationY>135</locationY>
        <defaultConnector>
            <targetReference>IF_Multiple_Casualties_TRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Birthdate_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Birthdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Birthdate_Convert_lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Birthdate</targetReference>
            </connector>
            <label>Birthdate = null</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Date_Deceased_c_null</name>
        <label>if Date_Deceased__c = null</label>
        <locationX>1234</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>if_age_18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_Deceased_c_null</name>
            <conditionLogic>(2 OR 4) AND 1 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Deceased__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Deceased__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Deceased__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Date_Deceased_c</targetReference>
            </connector>
            <label>Date_Deceased__c = null</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found</name>
        <label>if found</label>
        <locationX>1661</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_contact_0</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found_0</name>
        <label>if found</label>
        <locationX>1781</locationX>
        <locationY>700</locationY>
        <defaultConnector>
            <targetReference>update_For_eligibility_calculation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contact_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_For_eligibility_calculation_false</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_Multiple_Casualties_TRUE</name>
        <label>IF Multiple Casualties = TRUE</label>
        <locationX>1089</locationX>
        <locationY>152</locationY>
        <defaultConnector>
            <targetReference>if_Date_Deceased_c_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Multiple_Casualties_TRUE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Multiple_Casualties__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_account</targetReference>
            </connector>
            <label>Multiple Casualties = TRUE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>contact update Date_Deceased__c {!$Flow.CurrentDateTime}</interviewLabel>
    <label>contact update Date_Deceased__c</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>1647</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount_Eligible__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cumulative_eligibility__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Amount_Eligible__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_contact_0</name>
        <label>get contact</label>
        <locationX>1739</locationX>
        <locationY>544</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>For_eligibility_calculation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_account</name>
        <label>update account</label>
        <locationX>1104</locationX>
        <locationY>297</locationY>
        <connector>
            <targetReference>if_Date_Deceased_c_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Multiple_Casualties__c</field>
            <value>
                <elementReference>$Record.Multiple_Casualties__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_age_18_date</name>
        <label>update age = 18 date</label>
        <locationX>1485</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>if_amount_eligibility_is_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Age_18_Date__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Birthdate</name>
        <label>update Birthdate</label>
        <locationX>819</locationX>
        <locationY>310</locationY>
        <connector>
            <targetReference>IF_Multiple_Casualties_TRUE</targetReference>
        </connector>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>$Record.Birthdate_Convert_lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Date_Deceased_c</name>
        <label>update Date_Deceased__c</label>
        <locationX>1246</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>if_age_18</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Deceased__c</field>
            <value>
                <elementReference>$Record.Incident_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_For_eligibility_calculation</name>
        <label>update For eligibility calculation</label>
        <locationX>1619</locationX>
        <locationY>730</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>For_eligibility_calculation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_For_eligibility_calculation_false</name>
        <label>update For_eligibility_calculation = false</label>
        <locationX>1792</locationX>
        <locationY>848</locationY>
        <connector>
            <targetReference>update_For_eligibility_calculation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_contact_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>For_eligibility_calculation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Minor_to_Adult_Turned_18</name>
        <label>update Minor_to_Adult = Turned 18</label>
        <locationX>198</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Minor_to_Adult__c</field>
            <value>
                <stringValue>Turned 18</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>72</locationY>
        <connector>
            <targetReference>if_Birthdate_null</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_day_after_age_18</name>
            <connector>
                <targetReference>update_Minor_to_Adult_Turned_18</targetReference>
            </connector>
            <label>1 day after age = 18</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Age_18_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>updateopp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
