force-app/main/default/flows/contact_eligibility_Screen_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>update_multi_select</name>
        <label>update multi select</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>get_contact.Eligibility_type_multi_select__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Bereaved parents</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Eligibility_type_multi_select</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_multi_select_0</name>
        <label>update multi select</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>get_contact.Eligibility_type_multi_select__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Parents of a hostage</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Eligibility_type_multi_select</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_multi_select_0_0</name>
        <label>update multi select</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>get_contact.Eligibility_type_multi_select__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Survivor from the 7.10 party</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Eligibility_type_multi_select</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_multi_select_0_0_0</name>
        <label>update multi select</label>
        <locationX>1106</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>get_contact.Eligibility_type_multi_select__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Victims of hostilities recognized by BL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Eligibility_type_multi_select</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_multi_select_0_0_0_0</name>
        <label>update multi select</label>
        <locationX>1370</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>get_contact.Eligibility_type_multi_select__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Eligibility_type_multi_select</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BOTH</name>
        <choiceText>שניהם</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>FIZI</name>
        <choiceText>פיזי</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Physical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Returnedhostage</name>
        <choiceText>שבוי\ה חוזר\ת</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Returned Hostage</stringValue>
        </value>
    </choices>
    <choices>
        <name>RIGSHI</name>
        <choiceText>רגשי</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Emotional</stringValue>
        </value>
    </choices>
    <choices>
        <name>test</name>
        <choiceText>test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>test</stringValue>
        </value>
    </choices>
    <choices>
        <name>test_lookup</name>
        <choiceText>test lookup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>test lookup</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPE10</name>
        <choiceText>יתומ\ה משני הורים</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Orphan from two parents</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPE11</name>
        <choiceText>ניצול מסיבות ה 7.10 משתתף בתכנית שיקום מוכרת</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPE12</name>
        <choiceText>נפגעי פעולות איבה המוכרות על ידי בט&quot;לא זכאות של 20 % ומעלה -נכות פיזית ו\או 20 % ומעלה</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPE2</name>
        <choiceText>הורים שכולים</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bereaved parents</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPE3</name>
        <choiceText>הורה שכול גרוש</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Divorced Bereaved parents</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPE4</name>
        <choiceText>אלמנ\ה</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Widow</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPE5</name>
        <choiceText>אפוטרופוס ליתומ\ה משני הורים</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Guardian for orphans from two parents</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPE6</name>
        <choiceText>הורים של שבוי\ה</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parents of a hostage</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPE7</name>
        <choiceText>הורה גרוש של שבוי\ה</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Divorced parents of hostage</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPE8</name>
        <choiceText>בן\בת זוג של שבוי\ה</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spouse of a hostage</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPE9</name>
        <choiceText>אח \ אחות או בן \ בת של שבוי\ה</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sibling or child of a hostage</stringValue>
        </value>
    </choices>
    <choices>
        <name>TZMITA</name>
        <choiceText>צמיתה</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Permanent</stringValue>
        </value>
    </choices>
    <choices>
        <name>ZMANI</name>
        <choiceText>זמני</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Temporary</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Eligibility_Type_Other_And_It_s_Not_a_VIP_User</name>
        <label>Eligibility Type = &apos;Other&apos; And It&apos;s Not a VIP User?</label>
        <locationX>924</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>if_oneself_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VIPUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>if</name>
        <label>if חטופים שבים</label>
        <locationX>2206</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>maping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReturnedHostage1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned Hostage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Injured</targetReference>
            </connector>
            <label>חטופים שבים</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_20</name>
        <label>if &gt; 20</label>
        <locationX>1766</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>successfully</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Percentage_of_hostility_disability</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Injured_0</targetReference>
            </connector>
            <label>&gt;20</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_oneself</name>
        <label>if oneself</label>
        <locationX>1798</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Relationships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>other1</targetReference>
            </connector>
            <label>Other</label>
        </rules>
        <rules>
            <name>oneself_bl</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of Am Kalavi who were recognized with 20% disability or more by the Bituach Leumi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_CONTACT_ELIGIBILITY</targetReference>
            </connector>
            <label>oneself bl</label>
        </rules>
        <rules>
            <name>oneself1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Responders</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned Hostage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent of Minor who is recognized by Bituach Leumi for eligibility of 20% or more</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_CONTACT_ELIGIBILITY_0</targetReference>
            </connector>
            <label>oneself</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_oneself_0</name>
        <label>if oneself</label>
        <locationX>1798</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>if_oneself</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>oneself_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of Am Kalavi who were recognized with 20% disability or more by the Bituach Leumi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_eligibility</targetReference>
            </connector>
            <label>oneself</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_type_Sibling_or_child_of_a_hostage_40</name>
        <label>if type = Sibling or child of a hostage (40+)</label>
        <locationX>2734</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>CREATE_CONTACT_ELIGIBILITY_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>type_Sibling_or_child_of_a_hostage_40</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sibling or child of a hostage (40+)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Relationship</targetReference>
            </connector>
            <label>type = Sibling or child of a hostage (40+)</label>
        </rules>
    </decisions>
    <decisions>
        <name>maping</name>
        <label>maping</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>update_multi_select_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Divorced_Bereaved_parents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Divorced Bereaved parents</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_multi_select</targetReference>
            </connector>
            <label>Divorced Bereaved parents</label>
        </rules>
        <rules>
            <name>Divorced_parents_of_hostage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Divorced parents of hostage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_multi_select_0</targetReference>
            </connector>
            <label>Divorced parents of hostage</label>
        </rules>
        <rules>
            <name>Survivor_from_the_7_10_party_taking_part_in_a_recognized_rehabilitation_program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_multi_select_0_0</targetReference>
            </connector>
            <label>Survivor from the 7.10 party taking part in a recognized rehabilitation program</label>
        </rules>
        <rules>
            <name>Victims_of_hostilities_recognized_by_Bituach_Leumi_for_eligibility_of_20_or_more</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_multi_select_0_0_0</targetReference>
            </connector>
            <label>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BL_eligibility_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BL_Eligibility_Type__c</picklistField>
        <picklistObject>Contact_Eligibility__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>contact_eligibility_type</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Eligibility_type_multi_select__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Eligibility_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Eligibility_Type__c</picklistField>
        <picklistObject>Contact_Eligibility__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>type0</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>npe4__Type__c</picklistField>
        <picklistObject>npe4__Relationship__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>VIPUser</name>
        <dataType>Boolean</dataType>
        <expression>IF(   OR({!$User.Alias} = &apos;Maqui&apos; ,  {!$User.Alias} = &apos;hgaie&apos;, {!$Profile.Name} &lt;&gt; &apos;Olamit Custom&apos; )       , true ,false)</expression>
    </formulas>
    <interviewLabel>contact eligibility Screen flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>צור זכאות</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_CONTACT_ELIGIBILITY</name>
        <label>CREATE CONTACT ELIGIBILITY</label>
        <locationX>1766</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>if_20</targetReference>
        </connector>
        <inputAssignments>
            <field>BL_Eligibility_Type__c</field>
            <value>
                <elementReference>ET_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_Type__c</field>
            <value>
                <elementReference>type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_end_date__c</field>
            <value>
                <elementReference>END_DATE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_start_date__c</field>
            <value>
                <elementReference>START_DATE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percentage_of_hostility_disability__c</field>
            <value>
                <elementReference>Percentage_of_hostility_disability</elementReference>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREATE_CONTACT_ELIGIBILITY_0</name>
        <label>CREATE CONTACT ELIGIBILITY</label>
        <locationX>2206</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>if</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_Type__c</field>
            <value>
                <elementReference>type</elementReference>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREATE_CONTACT_ELIGIBILITY_0_0</name>
        <label>CREATE CONTACT ELIGIBILITY</label>
        <locationX>2734</locationX>
        <locationY>1382</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>maping</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_Type__c</field>
            <value>
                <elementReference>type</elementReference>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREATE_CONTACT_ELIGIBILITY_other</name>
        <label>CREATE CONTACT ELIGIBILITY other</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>maping</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_from_Other_Eligibility__c</field>
            <value>
                <elementReference>Amount_Eligibility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_Type__c</field>
            <value>
                <elementReference>type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>For_eligibility_calculation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Relationship</name>
        <label>CREATE Relationship</label>
        <locationX>2734</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>if_type_Sibling_or_child_of_a_hostage_40</targetReference>
        </connector>
        <inputAssignments>
            <field>npe4__Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__RelatedContact__c</field>
            <value>
                <elementReference>Eligibility_Partner.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__Type__c</field>
            <value>
                <elementReference>Relationships_Type</elementReference>
            </value>
        </inputAssignments>
        <object>npe4__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>924</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Eligibility_type_multi_select</name>
        <label>update Eligibility_type_multi_select</label>
        <locationX>842</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>successfully</targetReference>
        </connector>
        <inputReference>get_contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Injured</name>
        <label>update Injured</label>
        <locationX>2074</locationX>
        <locationY>1082</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>maping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Injured__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Injured_0</name>
        <label>update Injured</label>
        <locationX>1634</locationX>
        <locationY>1082</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>maping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Eligibility_end_date__c</field>
            <value>
                <elementReference>END_DATE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_start_date__c</field>
            <value>
                <elementReference>START_DATE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_type__c</field>
            <value>
                <elementReference>ET_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percentage_of_hostility_disability__c</field>
            <value>
                <elementReference>Percentage_of_hostility_disability</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Relationship</name>
        <label>update Relationship</label>
        <locationX>2602</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>CREATE_CONTACT_ELIGIBILITY_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Eligibility_Partner.recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hostage_Status__c</field>
            <value>
                <stringValue>Hostage</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;direction: rtl; text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(240, 0, 0);&quot;&gt;אין לך הרשאה כדי לבחור &quot;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(234, 2, 2);&quot;&gt;OTHER&apos; כסוג זכאות&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>other1</name>
        <label>other</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CREATE_CONTACT_ELIGIBILITY_other</targetReference>
        </connector>
        <fields>
            <name>Amount_Eligibility</name>
            <dataType>Number</dataType>
            <fieldText>סכום הזכאות</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Relationships</name>
        <label>יצירת קשר</label>
        <locationX>2734</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CREATE_Relationship</targetReference>
        </connector>
        <fields>
            <name>Eligibility_Partner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>npe4__RelatedContact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>שם הנפגע</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>npe4__Relationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Relationships_Type</name>
            <choiceReferences>type0</choiceReferences>
            <dataType>String</dataType>
            <fieldText>הקשר</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_eligibility</name>
        <label>screen eligibility</label>
        <locationX>1666</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>if_oneself</targetReference>
        </connector>
        <fields>
            <name>ET_type</name>
            <choiceReferences>BL_eligibility_type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>סוג זכאות ביטוח לאומי</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>START_DATE</name>
            <dataType>Date</dataType>
            <fieldText>תאריך תחילת זכאות</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>END_DATE</name>
            <dataType>Date</dataType>
            <fieldText>תאריך סיום זכאות</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ET_type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Temporary</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ET_type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>זמני</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Percentage_of_hostility_disability</name>
            <dataType>Number</dataType>
            <fieldText>אחוזי נכות</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>successfully</name>
        <label>successfully</label>
        <locationX>1798</locationX>
        <locationY>1640</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successfully1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;הזכאות עבור איש קשר זה נוצרה בהצלחה&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UniqueName</name>
        <label>יצירת זכאות</label>
        <locationX>924</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Eligibility_Type_Other_And_It_s_Not_a_VIP_User</targetReference>
        </connector>
        <fields>
            <name>type</name>
            <choiceReferences>Eligibility_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>סוג זכאות</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>NEXT</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>798</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
