force-app/main/default/flows/Content_Distribution_for_Doc_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_2</name>
        <label>Set Link</label>
        <locationX>50</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>Link</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Content_Distribution.DistributionPublicUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_2_of_Set_Link</name>
        <label>Copy 2 of Copy 2 of Set Link</label>
        <locationX>1502</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>Link</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_Link</name>
        <label>Copy 2 of Set Link</label>
        <locationX>314</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>Link</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Set_Link</name>
        <label>Copy 3 of Set Link</label>
        <locationX>1238</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>Link</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Coontent_Distribution.DistributionPublicUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Content_DOc_Found</name>
        <label>Content DOc Found</label>
        <locationX>1370</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Get_Coontent_Distribution</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Document</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Content_Ditribution</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContentDoc_or_ContentVersion</name>
        <label>ContentDoc or ContentVersion</label>
        <locationX>512</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContentDOc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>First3Digits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>069</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_Document_Link</targetReference>
            </connector>
            <label>ContentDOc</label>
        </rules>
        <rules>
            <name>Content_Version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>First3Digits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>068</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_Version</targetReference>
            </connector>
            <label>Content Version</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Content_Distribution_Found</name>
        <label>Copy 1 of Content Distribution Found</label>
        <locationX>1370</locationX>
        <locationY>1259</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Copy_2_of_Set_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Coontent_Distribution.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Set_Link</targetReference>
            </connector>
            <label>Copy 1 of Yes_Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_BY</name>
        <label>Created BY</label>
        <locationX>1051</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Number_of_Files</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005N2000002JpfBIAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0054L0000010QhtQAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContentDoc_or_ContentVersion</targetReference>
            </connector>
            <label>FA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_6</name>
        <label>Content Distribution Found</label>
        <locationX>182</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Set_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Distribution.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_2</targetReference>
            </connector>
            <label>Yes_Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found</name>
        <label>Found</label>
        <locationX>512</locationX>
        <locationY>779</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Version.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_DocLInk</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_CD_link</name>
        <label>Found CD link</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Create_Content_Doc_LInk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_DocLInk.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Content_DIstribution</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Files</name>
        <label>Number of Files</label>
        <locationX>1590</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_FIles__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_Document_Link</targetReference>
            </connector>
            <label>Greater 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>First3Digits</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Last_Content_Document_ID__c},3)</expression>
    </formulas>
    <interviewLabel>Content Distribution for Doc Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Content Distribution for Doc Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Content_DIstribution</name>
        <label>Create Content DIstribution</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Get_Content_Distribution</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Set_Link</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentVersionId</field>
            <value>
                <elementReference>$Record.Last_Content_Document_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Link</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowPDFDownload</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowViewInBrowser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Ditribution</name>
        <label>Creeate Content Ditribution</label>
        <locationX>1106</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Get_Coontent_Distribution</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Copy_2_of_Set_Link</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentVersionId</field>
            <value>
                <elementReference>Get_Content_Document.LatestPublishedVersionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Link</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowOriginalDownload</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowViewInBrowser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Doc_LInk</name>
        <label>Create Content Doc LInk</label>
        <locationX>270</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Create_Content_DIstribution</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Get_Content_Version.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Distribution</name>
        <label>Get Content Distribution</label>
        <locationX>182</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Content_DIstribution</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_DocLInk</name>
        <label>Get Content DocLInk</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_CD_link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_DOc_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Content_Document_Link.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Link</name>
        <label>Get Content Document Link</label>
        <locationX>1370</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Content_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Version</name>
        <label>Get Content Version</label>
        <locationX>512</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Last_Content_Document_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Coontent_Distribution</name>
        <label>Get Coontent Distribution</label>
        <locationX>1370</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Content_Distribution_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Content_Ditribution</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Link</name>
        <label>Update Link</label>
        <locationX>182</locationX>
        <locationY>1811</locationY>
        <inputAssignments>
            <field>Content_Distribution_Link__c</field>
            <value>
                <elementReference>Link</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Content_Document_ID__c</field>
            <value>
                <elementReference>Get_Content_Version.ContentDocument.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>1370</locationX>
        <locationY>1559</locationY>
        <inputAssignments>
            <field>Content_Distribution_Link__c</field>
            <value>
                <elementReference>Link</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Content_Document_ID__c</field>
            <value>
                <elementReference>Get_Content_Document.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>925</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Created_BY</targetReference>
        </connector>
        <object>Document_Management__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Link</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
