force-app/main/default/flows/Create_CE_Upon_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Bereaved</name>
        <label>Assign Bereaved</label>
        <locationX>1458</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>BereavedCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_CEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Orphan</name>
        <label>Assign Orphan</label>
        <locationX>3042</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OrphanChaeck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_CEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parents_of_Hostage</name>
        <label>Assign Parents of Hostage</label>
        <locationX>2250</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ParentsOfCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_CEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Returned</name>
        <label>Assign Returned</label>
        <locationX>1194</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ReturnedCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_CEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sibling_or_Child</name>
        <label>Assign Sibling or Child</label>
        <locationX>2778</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>SiblingOrChildCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_CEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Spouse_of_Hostage</name>
        <label>Assign Spouse of Hostage</label>
        <locationX>2514</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>SpouseCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_CEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survivor</name>
        <label>Assign Survivor</label>
        <locationX>3306</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>SurvivorCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_CEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Victims</name>
        <label>Assign Victims</label>
        <locationX>3570</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>VictimsCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_CEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Widow</name>
        <label>Assign Widow</label>
        <locationX>1722</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>WidowCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_CEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGuardian</name>
        <label>AssignGuardian</label>
        <locationX>1986</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>GuardianCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_CEs</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>SiblingorChildName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sibling or Child of Hostage (18-30)</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Existing_Values</name>
        <label>Check Existing Values</label>
        <locationX>2514</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_CEs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Returned_Hostage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Existing_CEs.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Returned Hostage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Returned</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Returned</targetReference>
            </connector>
            <label>Copy 1 of Returned Hostage</label>
        </rules>
        <rules>
            <name>Copy_1_of_Bereaved_parents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Existing_CEs.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bereaved Parents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Bereaved</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bereaved</targetReference>
            </connector>
            <label>Copy 1 of Bereaved parents</label>
        </rules>
        <rules>
            <name>Copy_1_of_Widow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Existing_CEs.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Widow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Widow</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Widow</targetReference>
            </connector>
            <label>Copy 1 of Widow</label>
        </rules>
        <rules>
            <name>Copy_1_of_Guardian_for_orphans_from_two_parents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Existing_CEs.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Guardian for Orphan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssignGuardian</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignGuardian</targetReference>
            </connector>
            <label>Copy 1 of Guardian for orphans from two parents</label>
        </rules>
        <rules>
            <name>Copy_1_of_Parents_of_a_hostage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Existing_CEs.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Parents of a Hostage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Parents_of_Hostage</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parents_of_Hostage</targetReference>
            </connector>
            <label>Copy 1 of Parents of a hostage</label>
        </rules>
        <rules>
            <name>Copy_1_of_Spouse_of_a_hostage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Existing_CEs.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Spouse of a Hostage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Spouse_of_Hostage</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Spouse_of_Hostage</targetReference>
            </connector>
            <label>Copy 1 of Spouse of a hostage</label>
        </rules>
        <rules>
            <name>Copy_1_of_Sibling_or_child_of_a_hostage_18_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Existing_CEs.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sibling or Child </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Sibling_or_Child</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sibling_or_Child</targetReference>
            </connector>
            <label>Copy 1 of Sibling or child of a hostage (18-30)</label>
        </rules>
        <rules>
            <name>Copy_1_of_Orphan_from_two_parents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Existing_CEs.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Orphan from </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Orphan</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Orphan</targetReference>
            </connector>
            <label>Copy 1 of Orphan from two parents</label>
        </rules>
        <rules>
            <name>Copy_1_of_Survivor_from_the_7_10_party</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Existing_CEs.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Survivor </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Survivor</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Survivor</targetReference>
            </connector>
            <label>Copy 1 of Survivor from the 7.10 party</label>
        </rules>
        <rules>
            <name>Copy_1_of_Victims_of_hostilities_recognized_by_BL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Existing_CEs.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Victim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Victims</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Victims</targetReference>
            </connector>
            <label>Copy 1 of Victims of hostilities recognized by BL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Values_Chosen</name>
        <label>New Values Chosen</label>
        <locationX>1106</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Returned_Hostage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_type_multi_select__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Returned Hostage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Returned_Hostage_CE</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReturnedCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Returned_Hostage_CE</targetReference>
            </connector>
            <label>Returned Hostage</label>
        </rules>
        <rules>
            <name>Bereaved_parents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_type_multi_select__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bereaved parents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Bereaved_Parents_CE</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BereavedCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Bereaved_Parents_CE</targetReference>
            </connector>
            <label>Bereaved parents</label>
        </rules>
        <rules>
            <name>Widow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_type_multi_select__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Widow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Widow_CE</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WidowCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Widow_CE</targetReference>
            </connector>
            <label>Widow</label>
        </rules>
        <rules>
            <name>Guardian_for_orphans_from_two_parents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_type_multi_select__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Guardian for orphans from two parents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Guardian_CE</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GuardianCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Guardian_CE</targetReference>
            </connector>
            <label>Guardian for orphans from two parents</label>
        </rules>
        <rules>
            <name>Parents_of_a_hostage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_type_multi_select__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Parents of a hostage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Parents_of_a_Hostage_CE</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentsOfCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parents_of_a_Hostage_CE</targetReference>
            </connector>
            <label>Parents of a hostage</label>
        </rules>
        <rules>
            <name>Spouse_of_a_hostage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_type_multi_select__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Spouse of a hostage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Hostage_Spouse_CE</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SpouseCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Hostage_Spouse_CE</targetReference>
            </connector>
            <label>Spouse of a hostage</label>
        </rules>
        <rules>
            <name>Sibling_or_child_of_a_hostage_18_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_type_multi_select__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sibling or child of a hostage (18-30)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Sibling_or_Child_of_Hostage_CE</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SiblingOrChildCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sibling_or_Child_of_Hostage_CE</targetReference>
            </connector>
            <label>Sibling or child of a hostage (18-30)</label>
        </rules>
        <rules>
            <name>Orphan_from_two_parents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_type_multi_select__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Orphan from two parents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Orphan_CE</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrphanChaeck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Orphan_CE</targetReference>
            </connector>
            <label>Orphan from two parents</label>
        </rules>
    </decisions>
    <description>removed branch that creates bituach leumi contact eligibility because its created from formassembly</description>
    <environments>Default</environments>
    <formulas>
        <name>BereavedName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE($Record.Name, &quot;&quot;) &amp; &quot;Bereaved Parents&quot;</expression>
    </formulas>
    <formulas>
        <name>GuardianName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE($Record.Name, &quot;&quot;) &amp; &quot;Guardian for Orphan of 2 Parents&quot;</expression>
    </formulas>
    <formulas>
        <name>NameVictim</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE($Record.Name, &quot;&quot;) &amp; &quot;Victim of hostilities recognized by BL&quot;</expression>
    </formulas>
    <formulas>
        <name>OrphanName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE($Record.Name, &quot;&quot;) &amp; &quot;Orphan from 2 Parents&quot;</expression>
    </formulas>
    <formulas>
        <name>ParentsName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE($Record.Name, &quot;&quot;) &amp; &quot;Parents of a Hostage&quot;</expression>
    </formulas>
    <formulas>
        <name>ReturnedName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE($Record.Name, &quot;&quot;) &amp; &quot;Returned Hostage&quot;</expression>
    </formulas>
    <formulas>
        <name>SiblingorChildNameFrm</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE($Record.Name, &quot;&quot;) &amp; &quot;Sibling or Child of Hostage&quot;</expression>
    </formulas>
    <formulas>
        <name>SpouseName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE($Record.Name, &quot;&quot;) &amp; &quot;Spouse of a Hostage&quot;</expression>
    </formulas>
    <formulas>
        <name>SurvivorName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE($Record.Name, &quot;&quot;) &amp; &quot;Survivor from 7.10 Party&quot;</expression>
    </formulas>
    <formulas>
        <name>WidowName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE($Record.Name, &quot;&quot;) &amp; &quot;Widow&quot;</expression>
    </formulas>
    <interviewLabel>Create CE Upon Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create CE Upon Conversion - remove party survivor branch</label>
    <loops>
        <name>Loop_Existing_CEs</name>
        <label>Loop Existing CEs</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <collectionReference>Existing_CE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Existing_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Values_Chosen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Bereaved_Parents_CE</name>
        <label>Create Bereaved Parents CE</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Values_Chosen</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>BereavedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Guardian_CE</name>
        <label>Create Guardian CE</label>
        <locationX>842</locationX>
        <locationY>1031</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Values_Chosen</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GuardianName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Hostage_Spouse_CE</name>
        <label>Create Hostage Spouse CE</label>
        <locationX>1370</locationX>
        <locationY>1031</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Values_Chosen</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SpouseName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Orphan_CE</name>
        <label>Create Orphan CE</label>
        <locationX>1898</locationX>
        <locationY>1031</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Values_Chosen</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OrphanName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Parents_of_a_Hostage_CE</name>
        <label>Create Parents of a Hostage CE</label>
        <locationX>1106</locationX>
        <locationY>1031</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Values_Chosen</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ParentsName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Returned_Hostage_CE</name>
        <label>Create Returned Hostage CE</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Values_Chosen</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ReturnedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sibling_or_Child_of_Hostage_CE</name>
        <label>Create Sibling or Child of Hostage CE</label>
        <locationX>1634</locationX>
        <locationY>1031</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Values_Chosen</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SiblingorChildNameFrm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Widow_CE</name>
        <label>Create Widow CE</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Values_Chosen</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>WidowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Existing_CE</name>
        <label>Existing CE</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Existing_CEs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Existing_CE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Eligibility_type_multi_select__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>BereavedCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>GuardianCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OrphanChaeck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ParentsOfCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ReturnedCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SiblingOrChildCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SpouseCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SurvivorCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VictimsCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>WidowCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
