force-app/main/default/flows/CREATE_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>SMS</name>
        <label>SMS</label>
        <locationX>593</locationX>
        <locationY>160</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMSSS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.datafix__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.datafix__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SMS_record</targetReference>
            </connector>
            <label>SMSSS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>full_number</name>
        <dataType>String</dataType>
        <expression>&quot;972&quot;&amp;RIGHT({!$Record.MobilePhone},9)</expression>
    </formulas>
    <formulas>
        <name>isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>CREATE SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CREATE SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SMS_record</name>
        <label>Create SMS record</label>
        <locationX>586</locationX>
        <locationY>322</locationY>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <stringValue>PA-000004</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>124</locationX>
        <locationY>25</locationY>
        <connector>
            <targetReference>SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
