force-app/main/default/flows/Create_OTP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Gen_OTP</name>
        <label>Call Gen OTP</label>
        <locationX>776</locationX>
        <locationY>371</locationY>
        <actionName>OTPGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_OTP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>OTPGenerator</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_OTP</name>
        <label>Copy 1 of Send OTP</label>
        <locationX>1029</locationX>
        <locationY>884</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info.vot@jafi.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>קוד אימות - הקרן לנפגעי טרור של הסוכנות היהודית</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>OTP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_OTP</name>
        <label>Send OTP</label>
        <locationX>578</locationX>
        <locationY>803</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Mobile_Exist</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info.vot@jafi.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>קוד אימות - הקרן לנפגעי טרור של הסוכנות היהודית</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>OTP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_OTP</name>
        <label>Assign OTP</label>
        <locationX>776</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>OPT_Rec.OTP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Gen_OTP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OPT_Rec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OPT_Rec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Generated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OPT_Rec.Generated_Date_TIme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OTP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Found</name>
        <label>Contact Found</label>
        <locationX>776</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>email_exist_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>email_exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>email_exist</name>
        <label>email exist</label>
        <locationX>731</locationX>
        <locationY>826</locationY>
        <defaultConnector>
            <targetReference>Mobile_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_email_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_OTP</targetReference>
            </connector>
            <label>yes email exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>email_exist_0</name>
        <label>email exist</label>
        <locationX>907</locationX>
        <locationY>781</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_email_exist_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_OTP</targetReference>
            </connector>
            <label>yes email exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mobile_Exist</name>
        <label>Mobile Exist</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesMob</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SMS_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>change email sender and subject</description>
    <environments>Default</environments>
    <interviewLabel>Create OTP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create OTP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SMS_record</name>
        <label>Create SMS record</label>
        <locationX>446</locationX>
        <locationY>1019</locationY>
        <inputAssignments>
            <field>otp__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <stringValue>PA-000003</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Contact__c</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_OTP</name>
        <label>Update OTP</label>
        <locationX>776</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <inputReference>OPT_Rec</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Call_Gen_OTP</targetReference>
        </connector>
        <object>OTP__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OTP</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Poppins, sans-serif; font-size: 11pt;&quot;&gt;שלום&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: 18px;&quot;&gt;{!OPT_Rec.OTP__c} &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Poppins, sans-serif; font-size: 11pt;&quot;&gt;זהו קוד האימות שלך&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Poppins, sans-serif; font-size: 11pt;&quot;&gt;.יש לחזור למסך הגשת הבקשה ולהזינו במקום המיועד&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Poppins, sans-serif; font-size: 11pt;&quot;&gt;.&apos;קוד זה תקף ל-15 דק&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Poppins, sans-serif; font-size: 11pt;&quot;&gt;במקרה של תקלה טכנית ניתן ליצור קשר עם צוות הקרן בווטסאפ 03-7628372&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Poppins, sans-serif; font-size: 11pt;&quot;&gt;,תודה והמשך יום נעים&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Poppins, sans-serif; font-size: 11pt;&quot;&gt;צוות הקרן לנפגעי טרור&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(31, 73, 125); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;img src=&quot;https://lln.tfaforms.net/forms/get_image/17/U2FOt68RCRSkVnQvHGsignOWnIuVmXxAcQWyCGB948ghvjPhFu3Ygb4xAhgOxVyw---002.png&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>OPT_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OTP__c</objectType>
    </variables>
</Flow>
