force-app/main/default/flows/create_Messaging_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>if_data_fix_new</name>
        <label>if data fix = new</label>
        <locationX>486</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>if_isnew_or_phone_ischainge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.datafix__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>jjnj</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.datafix__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Messaging_User_0</targetReference>
            </connector>
            <label>yes new</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_isnew_or_phone_ischainge</name>
        <label>if isnew or phone ischainge</label>
        <locationX>709</locationX>
        <locationY>111</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isnew_or_phone_ischainge</name>
            <conditionLogic>(1 AND 4) OR (2 AND 3 AND 4) OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Messaging_User</targetReference>
            </connector>
            <label>isnew or phone ischainge</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_not_faond</name>
        <label>if not faond</label>
        <locationX>1086</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>update_user_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Messaging_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Messaging_User</targetReference>
            </connector>
            <label>not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_not_faond_0</name>
        <label>if not faond</label>
        <locationX>933</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>get_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Messaging_User_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_not_faond_0_0</name>
        <label>if not faond</label>
        <locationX>932</locationX>
        <locationY>760</locationY>
        <defaultConnector>
            <targetReference>update_ms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_found_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_ms_0</targetReference>
            </connector>
            <label>not found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>full_number</name>
        <dataType>String</dataType>
        <expression>&quot;972&quot;&amp;RIGHT({!$Record.MobilePhone},9)</expression>
    </formulas>
    <formulas>
        <name>isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>mobilephonegetmu_0</name>
        <dataType>String</dataType>
        <expression>&quot;0&quot; &amp; RIGHT({!get_Messaging_User_0.MessagingPlatformKey}, 9)</expression>
    </formulas>
    <interviewLabel>create Messaging User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create Messaging User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Messaging_User</name>
        <label>Create Messaging User</label>
        <locationX>1151</locationX>
        <locationY>447</locationY>
        <connector>
            <targetReference>get_Messaging_User_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageType</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingChannelId</field>
            <value>
                <stringValue>0MjN20000000eqHKAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingConsentStatus</field>
            <value>
                <stringValue>ExplicitlyOptedIn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingPlatformKey</field>
            <value>
                <elementReference>full_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Full_Name_and_Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Messaging_User_0</name>
        <label>Create Messaging User</label>
        <locationX>495</locationX>
        <locationY>187</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageType</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingChannelId</field>
            <value>
                <stringValue>0MjN20000012nldKAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingConsentStatus</field>
            <value>
                <stringValue>ExplicitlyOptedIn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingPlatformKey</field>
            <value>
                <elementReference>full_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Full_Name_and_Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>816</locationX>
        <locationY>653</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_not_faond_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mobilephonegetmu_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Messaging_User</name>
        <label>get Messaging User</label>
        <locationX>973</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_not_faond</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingPlatformKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>full_number</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0MjN20000000eqHKAQ</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Messaging_User_0</name>
        <label>get Messaging User</label>
        <locationX>900</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_not_faond_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingPlatformKey</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>full_number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_ms</name>
        <label>update ms</label>
        <locationX>821</locationX>
        <locationY>876</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Messaging_User_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>get_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>get_contact.Full_Name_and_Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_ms_0</name>
        <label>update ms</label>
        <locationX>1024</locationX>
        <locationY>861</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Messaging_User_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_user_contact</name>
        <label>update user contact</label>
        <locationX>889</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>get_Messaging_User_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Messaging_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Full_Name_and_Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>12</locationY>
        <connector>
            <targetReference>if_data_fix_new</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
