force-app/main/default/flows/Group_count_datafix.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Group count datafix {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Group count datafix</label>
    <loops>
        <name>Update_loop</name>
        <label>Update loop</label>
        <locationX>777</locationX>
        <locationY>390</locationY>
        <collectionReference>Get_all_groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Run_count</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_groups</name>
        <label>Get all groups</label>
        <locationX>778</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_loop</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_all_groups</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_count</name>
        <label>Run count</label>
        <locationX>926</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>Update_loop</targetReference>
        </connector>
        <flowName>Group_Participants_count</flowName>
        <inputAssignments>
            <name>Group_Id</name>
            <value>
                <elementReference>Update_loop.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
