force-app/main/default/flows/Group_Participants_count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assing_count</name>
        <label>Assing count</label>
        <locationX>594</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_all_arrived_participants_in_group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Group</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Group Participants count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Group Participants count</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_arrived_participants_in_group</name>
        <label>Get all arrived participants in group</label>
        <locationX>596</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assing_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Group_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParticipationStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Arrived</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Participation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Group</name>
        <label>Update Group</label>
        <locationX>590</locationX>
        <locationY>655</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Group_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Participations_Arrived__c</field>
            <value>
                <elementReference>Count</elementReference>
            </value>
        </inputAssignments>
        <object>Program_group__c</object>
    </recordUpdates>
    <start>
        <locationX>455</locationX>
        <locationY>125</locationY>
        <connector>
            <targetReference>Get_all_arrived_participants_in_group</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Group_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
