force-app/main/default/flows/Meetings_for_the_visitor_Docomotion_PDF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>רשימת פגישות למבקר</description>
        <name>Meeting_List</name>
        <label>Meeting List</label>
        <locationX>658</locationX>
        <locationY>484</locationY>
        <actionName>doco__ProcessBuilder_Extension_Doc</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileName</name>
            <value>
                <elementReference>FileName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>format</name>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formId</name>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isActivatedVersion</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>File</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sobjectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>doco__ProcessBuilder_Extension_Doc</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>שליחת קובץ של לו&quot;ז באמצעות דואל</description>
        <name>Send_PDF_Via_Email</name>
        <label>Send_PDF_Via_Email</label>
        <locationX>962</locationX>
        <locationY>624</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailTo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>mashlat@jafi.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Ttitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>SecretaryHasEmail</name>
        <label>SecretaryHasEmail</label>
        <locationX>1136</locationX>
        <locationY>141</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secretary_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ContentVersion</targetReference>
            </connector>
            <label>HasEmail</label>
        </rules>
    </decisions>
    <description>אפשרות לקביעת שליחה מראש - תיקון מייל.</description>
    <environments>Default</environments>
    <formulas>
        <name>EmailTo</name>
        <dataType>String</dataType>
        <expression>{!$Record.Secretary_Email__c}</expression>
    </formulas>
    <formulas>
        <name>FileName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName}+&quot; &quot;+{!$Record.LastName}+&quot; - &quot;+&quot;List of meetings&quot;+&quot; &quot;+{!PDFDateFormatted}</expression>
    </formulas>
    <formulas>
        <name>PDFDateFormatted</name>
        <dataType>String</dataType>
        <expression>RIGHT(TEXT({!$Record.Create_PDF_for_Date__c}),2)+&quot;/&quot;+MID(TEXT({!$Record.Create_PDF_for_Date__c}),6,2)+&quot;/&quot; +LEFT(TEXT({!$Record.Create_PDF_for_Date__c}),4)</expression>
    </formulas>
    <interviewLabel>Meetings for the visitor - Docomotion PDF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Meetings for the visitor - Docomotion PDF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ContentDelivery</name>
        <label>Create ContentDelivery</label>
        <locationX>952</locationX>
        <locationY>316</locationY>
        <connector>
            <targetReference>Get_Content_Del</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentVersionId</field>
            <value>
                <elementReference>Get_ContentVersion.ContentDocument.LatestPublishedVersion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>EmailPDF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowPDFDownload</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowViewInBrowser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Del</name>
        <label>Get_Content_Del</label>
        <locationX>953</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_PDF_Via_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_ContentDelivery</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentVersion</name>
        <label>Get ContentVersion</label>
        <locationX>958</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_ContentDelivery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_PDF_checkbox</name>
        <label>Update Contact PDF checkbox</label>
        <locationX>944</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>SecretaryHasEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>Create_PDF__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>530</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Meeting_List</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_PDF__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>DelaySendPDF</name>
            <connector>
                <targetReference>Update_Contact_PDF_checkbox</targetReference>
            </connector>
            <label>DelaySendPDF</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>תוכן המייל</description>
        <name>Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;direction: rtl; text-align: right;&quot;&gt;שלום רב &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Secretary_Name__c},&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;direction: rtl; text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;direction: rtl; text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;להלן קישור ללוז של &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Full_Name_and_Title__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;direction: rtl; text-align: right;&quot;&gt;לתאריך:  &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Create_PDF_for_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;direction: rtl; text-align: right;&quot;&gt;ניתן לצפות ולהוריד את הקובץ&lt;/p&gt;&lt;p style=&quot;direction: rtl; text-align: right;&quot;&gt;&lt;a href=&quot;{!Get_Content_Del.DistributionPublicUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;קישור לקובץ עם הלו&quot;ז לחצ/י כאן&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;direction: rtl; text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;direction: rtl; text-align: right;&quot;&gt;בכבוד רב,&lt;/p&gt;&lt;p style=&quot;direction: rtl; text-align: right;&quot;&gt;מערכת חרבות ברזל&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>arthur.olshvang@gmail.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmaillistTEST</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Arthuro@techunity.co.il</stringValue>
        </value>
    </variables>
    <variables>
        <name>Ttitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Visiting Table</stringValue>
        </value>
    </variables>
    <variables>
        <name>URL_TO_PDF_DOWNLOAD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Content_Del.DistributionPublicUrl</elementReference>
        </value>
    </variables>
</Flow>
