force-app/main/default/flows/Messaging_User_Send_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Messaging_User</name>
        <label>Messaging User</label>
        <locationX>1003</locationX>
        <locationY>602</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Am_Kelabi_Bat_Yam</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>msg_Users</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Messaging_User</name>
        <label>Assign Messaging User</label>
        <locationX>1022</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>msg_Users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Mes_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Messaging_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>vvv</name>
        <label>vvv</label>
        <locationX>1021</locationX>
        <locationY>183</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rrrr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DATA_FIX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>tgf</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DATA_FIX__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Mes_User</targetReference>
            </connector>
            <label>rrrr</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Messaging User Send Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Messaging User Send Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Mes_User</name>
        <label>Get Mes User</label>
        <locationX>1018</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Messaging_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>559</locationX>
        <locationY>94</locationY>
        <connector>
            <targetReference>vvv</targetReference>
        </connector>
        <object>MessagingEndUser</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>msg_Users</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
