force-app/main/default/flows/Only_an_Admin_can_change_the_stage_to_Finished.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>In_process_send_email</name>
        <label>In process send email</label>
        <locationX>2543</locationX>
        <locationY>1303</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info.vot@jafi.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>{!$Record.npsp__Primary_Contact__r.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XN2000003EoODMA0</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>In_process_send_email_0</name>
        <label>In process send email</label>
        <locationX>4160</locationX>
        <locationY>1181</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>vot@jafi.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>&quot;סטטוס הבקשה הועבר ל &quot;בתהליך - לחזור למוטב</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Message</name>
        <label>Send Message</label>
        <locationX>1572</locationX>
        <locationY>1651</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Message_for_opp_with_status_new</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;first_name&quot;,
    &quot;textValue&quot;: &quot;{!firstnamecontact}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>msg_Users</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>UniqueName4e4</name>
        <label>פנייה לסטטוס חדש</label>
        <locationX>1601</locationX>
        <locationY>1359</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>update_send_email_WhatsApp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info.vot@jafi.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XN2000006M3rpMAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_first_name</name>
        <label>assign first name</label>
        <locationX>1459</locationX>
        <locationY>1255</locationY>
        <assignmentItems>
            <assignToReference>firstnamecontact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Mes_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Messaging_User</name>
        <label>Assign Messaging User</label>
        <locationX>1528</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>msg_Users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Mes_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Message</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Only_an_Admin_can_change_the_stage_to_Finished</name>
        <label>Only an Admin can change the stage to &quot;Finished&quot;</label>
        <locationX>3596</locationX>
        <locationY>1413</locationY>
        <connector>
            <targetReference>if_stage_in_process</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>&quot;רק מנהל יכול לשנות את הסטטוס ל &quot;הסתיים</errorMessage>
            <fieldSelection>StageName</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>fffff</name>
        <label>fffff</label>
        <locationX>381</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>if_cherum_finished</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rrrr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.data_fix_Tamar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_elctrice</targetReference>
            </connector>
            <label>rrrr</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_cherum_finished</name>
        <label>if cherum = finished</label>
        <locationX>740</locationX>
        <locationY>433</locationY>
        <defaultConnector>
            <targetReference>if_data_fix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>cherum_finished</name>
            <conditionLogic>((1 AND 2) OR (4 AND 5)) AND 3 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finished</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fund__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0uN200000AYVQDIA5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.data_fix_Tamar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yyhjh</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.data_fix_Tamar__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Israeli</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_opp_electronica</targetReference>
            </connector>
            <label>cherum = finished</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_data_fix</name>
        <label>if data fix = מייל &amp; ווטסאפ</label>
        <locationX>1499</locationX>
        <locationY>680</locationY>
        <defaultConnector>
            <targetReference>if_opp_isnew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>data_fix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.data_fix_Tamar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ben</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.data_fix_Tamar__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_opp_datafix</targetReference>
            </connector>
            <label>data fix = מייל &amp; ווטסאפ</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_FAOUND</name>
        <label>IF FAOUND</label>
        <locationX>2716</locationX>
        <locationY>1380</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_OPP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_process_send_email</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_faund</name>
        <label>if faund</label>
        <locationX>427</locationX>
        <locationY>108</locationY>
        <defaultConnector>
            <targetReference>uhu</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_found_electrice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_elctrice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_electirice</targetReference>
            </connector>
            <label>yes found electrice</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_find_payment</name>
        <label>if find payment</label>
        <locationX>3356</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>if_stage_in_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Payment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>tamarsh@techunity.co.il</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Only_an_Admin_can_change_the_stage_to_Finished</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found_get_opp</name>
        <label>if found get opp</label>
        <locationX>993</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>create_opp_electronica</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_get_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opp_electronica</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_data_fix</targetReference>
            </connector>
            <label>found get opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_isnew</name>
        <label>if isnew</label>
        <locationX>2373</locationX>
        <locationY>798</locationY>
        <defaultConnector>
            <targetReference>if_status_Finished</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>israeli</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.Israeli_ID_number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_contact_num_id</targetReference>
            </connector>
            <label>israeli</label>
        </rules>
        <rules>
            <name>no_israeli</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.Israeli_ID_number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.Passport_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_contact_num_id_0</targetReference>
            </connector>
            <label>no israeli</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_new_or_owner_is_chainged</name>
        <label>if new or owner is chainged</label>
        <locationX>2896</locationX>
        <locationY>869</locationY>
        <defaultConnector>
            <targetReference>if_Total_amount_approved_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>new_or_owner_is_chainged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_owner_id</targetReference>
            </connector>
            <label>new or owner is chainged</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_opp_isnew</name>
        <label>if opp isnew</label>
        <locationX>1936</locationX>
        <locationY>693</locationY>
        <defaultConnector>
            <targetReference>if_opp_isnew_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_opp_isnew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fund__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0uN2000002UzPtIAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_opp_created_date</targetReference>
            </connector>
            <label>yes opp isnew</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_opp_isnew_0</name>
        <label>if opp isnew</label>
        <locationX>2127</locationX>
        <locationY>692</locationY>
        <defaultConnector>
            <targetReference>if_isnew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_opp_isnew_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fund__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0uN200000B9FO6IAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_Request_source</targetReference>
            </connector>
            <label>yes opp isnew</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_STAGE_APPROVED</name>
        <label>IF STAGE = APPROVED</label>
        <locationX>3700</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>UniqueName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>STAGE_APPROVED</name>
            <conditionLogic>(1 AND 2 AND 6) OR (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finished</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Campaign_Source_FOMULA__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>כח משימה חרבות</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Campaign_Source_FOMULA__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>כח משימה חרבות ברזל 2024</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_0</targetReference>
            </connector>
            <label>STAGE = APPROVED</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_stage_Finished</name>
        <label>if stage =Finished</label>
        <locationX>3403</locationX>
        <locationY>1040</locationY>
        <defaultConnector>
            <targetReference>if_stage_in_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stage_Finished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finished</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Payment_Integration_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Payment</targetReference>
            </connector>
            <label>stage =Finished</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_stage_in_process</name>
        <label>if stage = in process</label>
        <locationX>3578</locationX>
        <locationY>1042</locationY>
        <defaultConnector>
            <targetReference>IF_STAGE_APPROVED</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stage_in_process</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update</targetReference>
            </connector>
            <label>stage = in process</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_stage_in_process6</name>
        <label>if stage in process</label>
        <locationX>1259</locationX>
        <locationY>920</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stage_in_process1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intermediate_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בתהליך – לא נוצר קשר</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_stage_Declined_0</targetReference>
            </connector>
            <label>stage = in process</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_stage_new</name>
        <label>if stage = new</label>
        <locationX>1148</locationX>
        <locationY>921</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stage_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_stage_Declined</targetReference>
            </connector>
            <label>stage = new</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_status_Finished</name>
        <label>if status = Finished</label>
        <locationX>2674</locationX>
        <locationY>793</locationY>
        <defaultConnector>
            <targetReference>if_new_or_owner_is_chainged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finished</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_closed_date</targetReference>
            </connector>
            <label>Finished</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Total_amount_approved_null</name>
        <label>if Total amount approved &lt;&gt; null</label>
        <locationX>3124</locationX>
        <locationY>865</locationY>
        <defaultConnector>
            <targetReference>if_stage_Finished</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_amount_approved_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_amount_approved__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Amount</targetReference>
            </connector>
            <label>Total amount approved &lt;&gt; null</label>
        </rules>
    </decisions>
    <decisions>
        <name>UniqueName</name>
        <label>סטטוס ביניים = ממתין למוטב</label>
        <locationX>3816</locationX>
        <locationY>1023</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UniqueName1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intermediate_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בתהליך – ממתין למוטב</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intermediate_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatedate</targetReference>
            </connector>
            <label>ממתין למוטב</label>
        </rules>
    </decisions>
    <decisions>
        <name>UniqueName4</name>
        <label>עדיין ממתין למוטב?</label>
        <locationX>2737</locationX>
        <locationY>1097</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UniqueName5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intermediate_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בתהליך – ממתין למוטב</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DATE__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.npsp__Primary_Contact__r.Last_Activity_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_OPP</targetReference>
            </connector>
            <label>ממתין למוטב</label>
        </rules>
    </decisions>
    <decisions>
        <name>UniqueName8</name>
        <label>סטטוס ביניים = בתהליך - לחזור למוטב</label>
        <locationX>4118</locationX>
        <locationY>1011</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UniqueName7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intermediate_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intermediate_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בתהליך – לחזור למוטב</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_process_send_email_0</targetReference>
            </connector>
            <label>בתהליך - לחזור למוטב</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Only an Admin can change the stage to &quot;Finished&quot; {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Only an Admin can change the stage to &quot;Finished&quot;</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_opp_electronica</name>
        <label>create opp electronica</label>
        <locationX>1330</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>update_payment</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>1200.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fund__c</field>
            <value>
                <stringValue>a0uN200000Bldu1IAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>מענק מוצרי חשמל</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ready for transfer to ERP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Requested_Amount__c</field>
            <value>
                <numberValue>1200.0</numberValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>delete_electirice</name>
        <label>delete electirice</label>
        <locationX>555</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordDeletes>
    <recordLookups>
        <name>get_elctrice</name>
        <label>get elctrice</label>
        <locationX>409</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_faund</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fund__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0uN200000CMkTVIA1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mes_User</name>
        <label>Get Mes User</label>
        <locationX>1508</locationX>
        <locationY>1352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Messaging_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_OPP</name>
        <label>GET OPP</label>
        <locationX>2746</locationX>
        <locationY>1227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_FAOUND</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2 AND 4 AND (5 OR 6)</filterLogic>
        <filters>
            <field>Fund__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0uN2000002UzPtIAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finished</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fund__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0u4L000000JKNFQA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opp_datafix</name>
        <label>get opp datafix</label>
        <locationX>1469</locationX>
        <locationY>833</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_pay</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opp_electronica</name>
        <label>get opp electronica</label>
        <locationX>894</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found_get_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fund__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0uN200000Bldu1IAB</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_pay</name>
        <label>get pay</label>
        <locationX>1536</locationX>
        <locationY>967</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_ben</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_opp_datafix.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Payment</name>
        <label>get Payment</label>
        <locationX>3415</locationX>
        <locationY>1161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_find_payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ERP_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid to Vendor</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>uhu</name>
        <label>uhu</label>
        <locationX>578</locationX>
        <locationY>263</locationY>
        <connector>
            <targetReference>update_payment_0</targetReference>
        </connector>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Requested_Amount__c</field>
            <value>
                <numberValue>620.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update</name>
        <label>update סטטוס ביינים</label>
        <locationX>3583</locationX>
        <locationY>1176</locationY>
        <connector>
            <targetReference>IF_STAGE_APPROVED</targetReference>
        </connector>
        <inputAssignments>
            <field>Intermediate_Status__c</field>
            <value>
                <stringValue>בתהליך – לא נוצר קשר</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_0</name>
        <label>update סטטוס ביינים</label>
        <locationX>3710</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_approved__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intermediate_Status__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Amount</name>
        <label>update  Amount</label>
        <locationX>3134</locationX>
        <locationY>1083</locationY>
        <connector>
            <targetReference>if_stage_Finished</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Total_amount_approved__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_ben</name>
        <label>update ben</label>
        <locationX>1593</locationX>
        <locationY>1098</locationY>
        <connector>
            <targetReference>if_opp_isnew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Beneficiary__c</field>
            <value>
                <elementReference>get_pay.Beneficiary__c</elementReference>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_closed_date</name>
        <label>update closed date</label>
        <locationX>2761</locationX>
        <locationY>849</locationY>
        <connector>
            <targetReference>if_new_or_owner_is_chainged</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_contact_num_id</name>
        <label>update contact num id</label>
        <locationX>2332</locationX>
        <locationY>651</locationY>
        <connector>
            <targetReference>if_status_Finished</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Num_Id__c</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.Israeli_ID_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_contact_num_id_0</name>
        <label>update contact num id</label>
        <locationX>2508</locationX>
        <locationY>641</locationY>
        <connector>
            <targetReference>if_status_Finished</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Num_Id__c</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.Passport_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_opp_created_date</name>
        <label>update opp created date</label>
        <locationX>1982</locationX>
        <locationY>831</locationY>
        <connector>
            <targetReference>if_opp_isnew_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opp_Created_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_owner_id</name>
        <label>update owner id</label>
        <locationX>2928</locationX>
        <locationY>1098</locationY>
        <connector>
            <targetReference>if_Total_amount_approved_null</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_payment</name>
        <label>update payment</label>
        <locationX>1460</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>if_data_fix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>create_opp_electronica</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERP_Status__c</field>
            <value>
                <stringValue>Ready for Transfer to ERP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Amount__c</field>
            <value>
                <numberValue>1200.0</numberValue>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_payment_0</name>
        <label>update payment</label>
        <locationX>722</locationX>
        <locationY>255</locationY>
        <connector>
            <targetReference>if_cherum_finished</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERP_Status__c</field>
            <value>
                <stringValue>paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Amount__c</field>
            <value>
                <numberValue>620.0</numberValue>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Request_source</name>
        <label>UPDATE Request source</label>
        <locationX>2157</locationX>
        <locationY>801</locationY>
        <connector>
            <targetReference>if_isnew</targetReference>
        </connector>
        <inputAssignments>
            <field>Request_source__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_send_email_WhatsApp</name>
        <label>update send email &amp; WhatsApp</label>
        <locationX>1648</locationX>
        <locationY>1496</locationY>
        <inputAssignments>
            <field>In_Process_Send_Date__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_stage_Declined</name>
        <label>update stage = Declined</label>
        <locationX>1195</locationX>
        <locationY>1053</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_stage_Declined_0</name>
        <label>update stage = Declined</label>
        <locationX>1306</locationX>
        <locationY>1052</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatedate</name>
        <label>עדכן את התאריך</label>
        <locationX>3848</locationX>
        <locationY>1167</locationY>
        <inputAssignments>
            <field>DATE__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>fffff</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>after1month</name>
            <connector>
                <targetReference>UniqueName4</targetReference>
            </connector>
            <label>חודש וחצי אחרי ממתין למוטב</label>
            <offsetNumber>1089</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>DATE__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X21_days_after_send_email_whatsapp</name>
            <connector>
                <targetReference>if_stage_new</targetReference>
            </connector>
            <label>21 days after send email &amp; whatsapp</label>
            <offsetNumber>21</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Send_email_WhatsApp__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X21_days_after_in_process</name>
            <connector>
                <targetReference>if_stage_in_process6</targetReference>
            </connector>
            <label>21 days after in process</label>
            <offsetNumber>21</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>In_Process_Send_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>היי {!$Record.Owner.FirstName}

שימי לב הבקשה של {!$Record.npsp__Primary_Contact__r.Full_Name_and_Title__c}
התעדכנה לסטטוס &quot;בתהליך - לחזור למוטב&quot;

קישור לבקשה 
https://votfound.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view</text>
    </textTemplates>
    <textTemplates>
        <name>Inprocesswaitingforthebeneficiary</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>In process - waiting for the beneficiary</text>
    </textTemplates>
    <variables>
        <name>firstnamecontact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>msg_Users</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SendLater</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
