force-app/main/default/flows/opp_closed_coach_mesima.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ADD_TO_COL</name>
        <label>ADD TO COL</label>
        <locationX>640</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>UPDATEOPP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TPDATE_TO_Closed</name>
        <label>UPDATE TO Closed</label>
        <locationX>640</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>LOOP.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ADD_TO_COL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IF_FOUND_OPP</name>
        <label>IF FOUND OPP</label>
        <locationX>684</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_OPP_NEW_OR_IN_PROCESS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP</targetReference>
            </connector>
            <label>YES found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>opp closed - coach mesima {!$Flow.CurrentDateTime}</interviewLabel>
    <label>opp closed - coach mesima</label>
    <loops>
        <name>LOOP</name>
        <label>LOOP</label>
        <locationX>552</locationX>
        <locationY>695</locationY>
        <collectionReference>GET_OPP_NEW_OR_IN_PROCESS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TPDATE_TO_Closed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UPDATE_OPP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_OPP_NEW_OR_IN_PROCESS</name>
        <label>GET OPP NEW OR IN PROCESS</label>
        <locationX>684</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_FOUND_OPP</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_OPP</name>
        <label>UPDATE OPP</label>
        <locationX>552</locationX>
        <locationY>1103</locationY>
        <inputReference>UPDATEOPP</inputReference>
    </recordUpdates>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GET_OPP_NEW_OR_IN_PROCESS</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR (5 AND 4)) AND 3</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finished</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>701N200000nCv3QIAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>data_fix_Tamar__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>כח משימה דטה</stringValue>
            </value>
        </filters>
        <filters>
            <field>data_fix_Tamar__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UPDATEOPP</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
