force-app/main/default/flows/opp_data_fix.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>ccc</name>
        <label>ccc</label>
        <locationX>995</locationX>
        <locationY>215</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ccn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.data_fix_Tamar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yhhjn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.data_fix_Tamar__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ygkgh</targetReference>
            </connector>
            <label>ccn</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>opp data fix {!$Flow.CurrentDateTime}</interviewLabel>
    <label>opp data fix</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>ygkgh</name>
        <label>ygkgh</label>
        <locationX>952</locationX>
        <locationY>349</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Summer 25</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ccc</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
