force-app/main/default/flows/Opportunity_DeleteIrreleventContact_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>IsOCR_Delete_list_Found</name>
        <label>IsOCR_Delete_list_Found</label>
        <locationX>662</locationX>
        <locationY>742</locationY>
        <defaultConnectorLabel>Delete list not found</defaultConnectorLabel>
        <rules>
            <name>Delete_list_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OCR_to_delete_list</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_irrelevent_list</targetReference>
            </connector>
            <label>Delete list found</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichFund</name>
        <label>WhichFund</label>
        <locationX>663</locationX>
        <locationY>402</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FundSummer2025</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpp.Fund__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0uN200000B9FO6IAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetIrreleventContactRoleForSummer25</targetReference>
            </connector>
            <label>FundSummer25</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - DeleteIrelevent_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - DeleteIrreleventContact_Role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_irrelevent_list</name>
        <label>Delete irrelevent list</label>
        <locationX>674</locationX>
        <locationY>922</locationY>
        <inputReference>OCR_to_delete_list</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetIrreleventContactRoleForSummer25</name>
        <label>GetIrreleventContactRoleForSummer25</label>
        <locationX>457</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsOCR_Delete_list_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opp_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Summer 25</stringValue>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>OCR_to_delete_list</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Role</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOpp</name>
        <label>GetOpp</label>
        <locationX>668</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WhichFund</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opp_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>542</locationX>
        <locationY>93</locationY>
        <connector>
            <targetReference>GetOpp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OCR_to_delete_list</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>opp_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
