force-app/main/default/flows/Opportunity_Receipt_checkup_wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_All_ok_email</name>
        <label>Send All ok email</label>
        <locationX>474</locationX>
        <locationY>1588</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>info.vot@jafi.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>עדכון בנושא קבלות שהועלו למערכת</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;שלום {!Get_Opportunity.npsp__Primary_Contact__r.Name}&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;צוות הקרן לנפגעי טרור בדק את הקבלות שהועלו למערכת ואישר אותן.&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;ככל שישנם צרכים שיקומיים נוספים, ובמידה ועברו חודשיים מיום קבלת המענק הקודם, הנך מוזמן/ת לפתוח בקשה חדשה למענק שיקומי באתר.&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;&lt;a href=&quot;https://p2gpartial.formtitan.com/ftproject/ft763c4b86d30f4dd18cff2d08050fe46e&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;לפתיחת בקשה חדשה והגשת המסמכים לחץ/י כאן&lt;/a&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;לכל שאלה יש לפנות אלינו בוואטס אפ.&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;עומדים לצדך,&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;הקרן לנפגעי טרור של הסוכנות היהודית&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Opportunity.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_one_to_counter</name>
        <label>Add one to counter</label>
        <locationX>1104</locationX>
        <locationY>1470</locationY>
        <assignmentItems>
            <assignToReference>Valid_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign</name>
        <label>Assign Counters</label>
        <locationX>918</locationX>
        <locationY>1030</locationY>
        <assignmentItems>
            <assignToReference>Receipt_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Receipts_By_Item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Valid_Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Item_Receipts_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_complete_item_count</name>
        <label>Assign complete item count</label>
        <locationX>779</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>Complete_Item_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Item_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_item_count</name>
        <label>Assign item count</label>
        <locationX>634</locationX>
        <locationY>898</locationY>
        <assignmentItems>
            <assignToReference>Item_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Item_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Item_Loop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Invalid</name>
        <choiceText>לא תקין</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invalid</stringValue>
        </value>
    </choices>
    <choices>
        <name>NotNow</name>
        <choiceText>עדיין לא</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NotNow</stringValue>
        </value>
    </choices>
    <choices>
        <name>Valid</name>
        <choiceText>תקין</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Valid</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>כן</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Receipts_By_Item</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Receipts By Item</label>
        <locationX>795</locationX>
        <locationY>1025</locationY>
        <assignNextValueToReference>currentItem_Filter_Receipts_By_Item</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Receipts_Unchecked_List</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Receipts_By_Item.Item__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Item_Loop.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>is_Invoice_received_for_item</name>
        <label>is Invoice received for item</label>
        <locationX>881</locationX>
        <locationY>1341</locationY>
        <defaultConnector>
            <targetReference>Item_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not now</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoicereceivedforitem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_invoice_received</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_status_valid</name>
        <label>Is status valid</label>
        <locationX>1196</locationX>
        <locationY>1461</locationY>
        <defaultConnector>
            <targetReference>Filter_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status not valid</defaultConnectorLabel>
        <rules>
            <name>Status_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Valid_or_not_valid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Valid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_one_to_counter</targetReference>
            </connector>
            <label>Status valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecieptsCheckup_status</name>
        <label>RecieptsCheckup status</label>
        <locationX>379</locationX>
        <locationY>1210</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_receipts_chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Missing_Receipts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_missing_receeipts</targetReference>
            </connector>
            <label>Missing receipts chosen</label>
        </rules>
        <rules>
            <name>All_receipts_ok_chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_receipts_ok</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_All_receeipts_ok</targetReference>
            </connector>
            <label>All receipts ok chosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_unchecked_receipts_found</name>
        <label>Was unchecked receipts found</label>
        <locationX>619</locationX>
        <locationY>532</locationY>
        <defaultConnectorLabel>Unchecked receipts not found</defaultConnectorLabel>
        <rules>
            <name>Unchecked_receipts_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Receipts_Unchecked_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Receipts_screen</targetReference>
            </connector>
            <label>Unchecked receipts found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Receipt checkup wizrd {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Receipt checkup wizard</label>
    <loops>
        <name>Filter_Loop</name>
        <label>Filter Loop</label>
        <locationX>1034</locationX>
        <locationY>1165</locationY>
        <collectionReference>Filter_Receipts_By_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Receipt_Details_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Item_Loop</name>
        <label>Item Loop</label>
        <locationX>637</locationX>
        <locationY>1033</locationY>
        <collectionReference>Item_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Receipts_By_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Item_loop_end_screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_all_unchecked_receipts</name>
        <label>Get all unchecked receipts</label>
        <locationX>625</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_unchecked_receipts_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opp_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Uploaded unchecked yet</stringValue>
            </value>
        </filters>
        <object>Receipt__c</object>
        <outputReference>Receipts_Unchecked_List</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Status_Heb__c</queriedFields>
        <queriedFields>Receipt_Date__c</queriedFields>
        <queriedFields>Document_type__c</queriedFields>
        <queriedFields>Doc_Type_Heb__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Item__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Why_do_not_have_document__c</queriedFields>
        <queriedFields>Invoice_Number__c</queriedFields>
        <queriedFields>Item_Name__c</queriedFields>
        <queriedFields>File_ID__c</queriedFields>
        <queriedFields>Open_File__c</queriedFields>
        <queriedFields>Date_Text__c</queriedFields>
        <sortField>Item_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Items</name>
        <label>Get Items</label>
        <locationX>638</locationX>
        <locationY>800</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_item_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opp_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Received__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Unchecked_Receipt_Count__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Request_Item__c</object>
        <outputReference>Item_List</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>630</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_unchecked_receipts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opp_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_receeipts_ok</name>
        <label>Update All receeipts ok</label>
        <locationX>475</locationX>
        <locationY>1403</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opp_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Receipts_Checkup_Status__c</field>
            <value>
                <stringValue>Checked and successfully completed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_invoice_received</name>
        <label>Update invoice received</label>
        <locationX>884</locationX>
        <locationY>1480</locationY>
        <connector>
            <targetReference>Assign_complete_item_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Item_Loop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice_Received__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Request_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_missing_receeipts</name>
        <label>Update missing receeipts</label>
        <locationX>304</locationX>
        <locationY>1396</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opp_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Receipts_Checkup_Status__c</field>
            <value>
                <stringValue>Coordinator checked and there are defects</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Receipt_Status</name>
        <label>Update Receipt Status</label>
        <locationX>1200</locationX>
        <locationY>1299</locationY>
        <connector>
            <targetReference>Is_status_valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Filter_Loop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Valid_or_not_valid</elementReference>
            </value>
        </inputAssignments>
        <object>Receipt__c</object>
    </recordUpdates>
    <screens>
        <name>All_Receipts_screen</name>
        <label>All Receipts screen</label>
        <locationX>631</locationX>
        <locationY>700</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Items</targetReference>
        </connector>
        <fields>
            <name>Title_1</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;בדיקת קבלות&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>All_Receipt_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Receipt__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>קבלות שטרם נבדקו</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Receipts_Unchecked_List</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Receipt__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Receipts_Unchecked_List&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5807&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;מספר מערכת&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Receipt System Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Item_Name__c&quot;,&quot;guid&quot;:&quot;column-4a26&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;שם פריט&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Item Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Receipt_Date__c&quot;,&quot;guid&quot;:&quot;column-4cbf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;תאריך&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Receipt Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Invoice_Number__c&quot;,&quot;guid&quot;:&quot;column-cc0f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;מספר קבלה&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Receipt Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Doc_Type_Heb__c&quot;,&quot;guid&quot;:&quot;column-a09b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;סוג&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Doc_Type_Heb&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-b17d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;סכום&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Receipt__c&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;,&quot;Item_Name__c&quot;,&quot;Receipt_Date__c&quot;,&quot;Invoice_Number__c&quot;,&quot;Doc_Type_Heb__c&quot;,&quot;Amount__c&quot;],&quot;elementReference&quot;:&quot;Receipts_Unchecked_List&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>התחל בחינת קבלות</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End</name>
        <label>End Item Screen</label>
        <locationX>885</locationX>
        <locationY>1172</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>is_Invoice_received_for_item</targetReference>
        </connector>
        <fields>
            <name>Title_4</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;בדיקת קבלות&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Item_Status_Display</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;פריט:&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;{!Item_Loop.Name}&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;מספר קבלות שנבדקו:&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;{!Receipt_Count}&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;קבלות תקינות:&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;{!Valid_Counter}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Invoicereceivedforitem</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NotNow</choiceReferences>
            <dataType>String</dataType>
            <fieldText>עדכן כי כל הקבלות בפרי ט התקבלו</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>המשך</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Item_loop_end_screen</name>
        <label>Item loop end screen</label>
        <locationX>380</locationX>
        <locationY>1045</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecieptsCheckup_status</targetReference>
        </connector>
        <fields>
            <name>Title_5</name>
            <fieldText>&lt;p style=&quot;direction: rtl; text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;בדיקת קבלות&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;direction: rtl; text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;direction: rtl; text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;סיימת לבדוק את כל הקבלות&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Item_checkup_status</name>
            <fieldText>&lt;p style=&quot;direction: rtl; text-align: right;&quot;&gt;מספר פריטם:&lt;/p&gt;&lt;p style=&quot;direction: rtl; text-align: right;&quot;&gt;{!Item_Count}&lt;/p&gt;&lt;p style=&quot;direction: rtl; text-align: right;&quot;&gt;מספר פריטים שסומנו שהשלימו את העלאת הקבלות:&lt;/p&gt;&lt;p style=&quot;direction: rtl; text-align: right;&quot;&gt;{!Complete_Item_Count}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>All_receipts_ok</name>
            <dataType>Boolean</dataType>
            <fieldText>כל הקבלות בבקשה נבדקו וכולן תקינות</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Item_Count</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Complete_Item_Count</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Missing_Receipts</name>
            <dataType>Boolean</dataType>
            <fieldText>הקבלות נבדקו וחסרות קבלות</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Item_Count</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Complete_Item_Count</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>אישור</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Item_Receipts_Screen</name>
        <label>Item Receipts Screen</label>
        <locationX>1032</locationX>
        <locationY>1032</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Filter_Loop</targetReference>
        </connector>
        <fields>
            <name>Title_2</name>
            <fieldText>&lt;p style=&quot;direction: rtl; text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;בדיקת קבלות&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Item_display</name>
            <fieldText>&lt;p style=&quot;direction: rtl;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;פריט: {!Item_Loop.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Item_Receipts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Receipt__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>קבלות</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_Receipts_By_Item</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Receipt__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Filter_Receipts_By_Item&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f911&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;מספר מערכת&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Receipt System Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Receipt_Date__c&quot;,&quot;guid&quot;:&quot;column-6071&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;תאריך&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Receipt Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Invoice_Number__c&quot;,&quot;guid&quot;:&quot;column-ef53&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;מספר קבלה&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Receipt Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Doc_Type_Heb__c&quot;,&quot;guid&quot;:&quot;column-023b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;סוג&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Doc_Type_Heb&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-7a3c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;סכום&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Receipt__c&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;,&quot;Receipt_Date__c&quot;,&quot;Invoice_Number__c&quot;,&quot;Doc_Type_Heb__c&quot;,&quot;Amount__c&quot;],&quot;elementReference&quot;:&quot;Filter_Receipts_By_Item&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>התחל בדיקת קבלות לפריט זה</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Receipt_Details_Screen</name>
        <label>Receipt Details Screen</label>
        <locationX>1198</locationX>
        <locationY>1137</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Receipt_Status</targetReference>
        </connector>
        <fields>
            <name>Title_3</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;בדיקת קבלות&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Receipt_Details_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Receipt_Details_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Receipt_Details_Display</name>
                    <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;פריט:&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;{!Filter_Loop.Item_Name__c}&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;מספר קבלה:&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;{!Filter_Loop.Invoice_Number__c}&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;תאריך:&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;{!Filter_Loop.Date_Text__c}&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;סוג:&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;{!Filter_Loop.Doc_Type_Heb__c}&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;סכום:&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;{!Filter_Loop.Amount__c}&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Receipt_Details_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Receipt_Preview</name>
                    <extensionName>mulesoft_idp:configEditorPreviewPlayer</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fileId</name>
                        <value>
                            <elementReference>Filter_Loop.File_ID__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Filter_Loop.Document_type__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>I dont have a document</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Open_Doc_Display</name>
                    <fieldText>&lt;p&gt;{!Filter_Loop.Open_File__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Filter_Loop.Document_type__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>I dont have a document</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Why_dont_have_doc_Display</name>
                    <fieldText>&lt;p&gt;מדוע אין מסמך:&lt;/p&gt;&lt;p&gt;{!Filter_Loop.Why_do_not_have_document__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Filter_Loop.Document_type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>I dont have a document</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Valid_or_not_valid</name>
                    <choiceReferences>Valid</choiceReferences>
                    <choiceReferences>Invalid</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>תקין/לא תקין</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Note</name>
                    <fieldText>הערה</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>המשך</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>506</locationX>
        <locationY>78</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Complete_Item_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Receipts_By_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Receipt__c</objectType>
    </variables>
    <variables>
        <name>Item_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Item_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Request_Item__c</objectType>
    </variables>
    <variables>
        <name>Opp_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Receipt_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Receipts_Unchecked_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Receipt__c</objectType>
    </variables>
    <variables>
        <name>Valid_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
