force-app/main/default/flows/Participation_of_war_Volunteer_Send_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>138</locationX>
        <locationY>1082</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreen2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SendEmail.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Medical Volunteers for Israel - 2nd Form</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Txt_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Id_to_Single_Var</name>
        <label>Assign Id to Single Var</label>
        <locationX>138</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ParticipantSingleVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Participations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Participant_Data_for_update</name>
        <label>Assign Participant Data for update</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ParticipantSingleVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Participants.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParticipantSingleVar.Medical_Volunteer_2nd_form_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParticipantSingleVar.Medical_Volunteer_2nd_form_Sent_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParticipantSingleVar.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Participants.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParticipantSingleVar.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Participants.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParticipantSingleVar.Profession_specialty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Participants.Profession_specialty__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Participants_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Participants_to_Collection</name>
        <label>Assign Participants to Collection</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ParticipantCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ParticipantSingleVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Participations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckRecordIdNotBlank</name>
        <label>CheckRecordIdNotBlank</label>
        <locationX>422</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Error_on_Init</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Input Var is Null</defaultConnectorLabel>
        <rules>
            <name>Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Participations</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <description>Screen Flow - send list email via button - Intended for medical profession volunteers approved by the Ministry of Health.
Yagen 22/10/223</description>
    <environments>Default</environments>
    <formulas>
        <name>EmailWithComma</name>
        <dataType>String</dataType>
        <expression>{!Get_Participants.Email__c}&amp;&quot;,&quot;</expression>
    </formulas>
    <interviewLabel>Partic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Participation of war Volunteer - Send Email</label>
    <loops>
        <name>Loop_through_Participations</name>
        <label>Loop through Participations</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Id_to_Single_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <collectionReference>ParticipantCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Participants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Contacts related to opportunity</description>
        <name>Get_Participants</name>
        <label>Get Participants</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Participant_Data_for_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParticipantSingleVar.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Participation_of_a_war_volunteer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Participants</name>
        <label>update Participants</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen2</targetReference>
        </faultConnector>
        <inputReference>ParticipantCollection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_on_Init</name>
        <label>Error on Init</label>
        <locationX>794</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsg1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 13, 13);&quot;&gt;Error:&lt;/strong&gt; No records were selected. please return to List view and select select the records you wish to update&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FaultScreen2</name>
        <label>FaultScreen2</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
        <fields>
            <name>DisplayTxt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;The Following Participants of War Volunteers will receive an email with a link to the 2nd form.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Total Participants to receive an email: {!CountEmails} &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Participation_of_a_war_volunteer__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ParticipantCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Last_Name__c&quot;,&quot;guid&quot;:&quot;column-873d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Profession_specialty__c&quot;,&quot;guid&quot;:&quot;column-37cc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Profession specialty&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>296</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckRecordIdNotBlank</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Txt_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://votfound.file.force.com/servlet/servlet.FileDownload?file=015N2000000WSij&quot; alt=&quot;Logo2023.png&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;﻿Dear Doctor {!SendEmail.Last_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Thank you for dedicating your time and efforts helping Israel in these hard times.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;We, the Jewish Agency for Israel is cooperating with the Ministry of Health in bringing medical experts to various hospitals all over the country and assist the people in need.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Please fill in the following form so we can take care of your travel arrangements according to your Match with the Ministry of Health.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;a href=&quot;https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fthe.jewishagency.org%2Ffinal-form&amp;amp;data=05%7C01%7CYagenB%40techunity.co.il%7C6383655e59e347537b7a08dbd2fddd0c%7C82fc74b7bd82414b9b2f4b04864a515c%7C0%7C0%7C638335760008852230%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=riAyNPhQHVZ%2Fv854bYbCj2ujSfnFzIfuTxX7oUnR%2Fqg%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12pt;&quot;&gt;https://the.jewishagency.org/final-form&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Once it is done, one of our team members will be in touch with you shortly about your travel arrangements and preparation to take off to Israel.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;We can’t wait to see you soon in the field and we are &lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;honored&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt; that you are joining our precious team of medical experts.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Your commitment is not taken for granted.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Best regards,&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Medical Volunteer Task Force&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Contact_FullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactIds_Single</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactRecordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountEmails</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participation_of_a_war_volunteer__c</objectType>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastNameCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParticipantCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participation_of_a_war_volunteer__c</objectType>
    </variables>
    <variables>
        <description>Prepare data for Mass update</description>
        <name>ParticipantSingleVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participation_of_a_war_volunteer__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Participation_of_a_war_volunteer__c</objectType>
    </variables>
</Flow>
