force-app/main/default/flows/Payment_update_Beneficiary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>if_opp</name>
        <label>if opp = עם כלביא</label>
        <locationX>809</locationX>
        <locationY>344</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Opportunity__r.Fund__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0uN200000AYVQDIA5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Beneficiary__r.Bank_Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_contact</targetReference>
            </connector>
            <label>opp = עם כלביא</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Payment update Beneficiary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment update Beneficiary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>952</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bank_Account_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>005N2000002JpfBIAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Beneficiary Only</stringValue>
            </value>
        </filters>
        <filters>
            <field>Beneficiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Beneficiary__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_payment</name>
        <label>update payment</label>
        <locationX>910</locationX>
        <locationY>488</locationY>
        <inputAssignments>
            <field>Beneficiary__c</field>
            <value>
                <elementReference>get_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>if_opp</targetReference>
        </connector>
        <object>npe01__OppPayment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
