force-app/main/default/flows/Program_Participation_Update_Program_Group_Number_Of_Arrived.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Number_Of_Arrived</name>
        <label>Assign Number Of Arrived</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarNumberOfArrived</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Program_Participation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Number_Of_Arrived</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Program Participation - Update Program Group. Number Of Arrived {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Program Participation - Update Program Group. Number Of Arrived</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Program_Participation</name>
        <label>Get  Program Participation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Number_Of_Arrived</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Program_group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program_group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParticipationStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finished</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParticipationStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Show up</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParticipationStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Arrived</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Participation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Number_Of_Arrived</name>
        <label>Update Number Of Arrived</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program_group__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_Of_Arrived__c</field>
            <value>
                <elementReference>VarNumberOfArrived</elementReference>
            </value>
        </inputAssignments>
        <object>Program_group__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Program_Participation</targetReference>
        </connector>
        <filterFormula>   
OR( ISNEW() , ISCHANGED({!$Record.ParticipationStatus__c})   )</filterFormula>
        <object>Program_Participation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarNumberOfArrived</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
