force-app/main/default/flows/Property_damage_create_or_update_after_save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>not_same_bank</name>
        <label>not same bank</label>
        <locationX>497</locationX>
        <locationY>623</locationY>
        <customErrorMessages>
            <errorMessage>פרטי הבנק אינם תואמים לפרטי הבנק השמורים במערכת</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>IF_FOUND</name>
        <label>IF FOUND</label>
        <locationX>1046</locationX>
        <locationY>946</locationY>
        <defaultConnector>
            <targetReference>if_it_a_shared_apartment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_FOUND</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_OPP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_OPP</targetReference>
            </connector>
            <label>YES FOUND</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_FOUND_ID</name>
        <label>IF FOUND</label>
        <locationX>578</locationX>
        <locationY>425</locationY>
        <defaultConnector>
            <targetReference>CREATE_CONTACT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_CONTACT_WHIS_SAME_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_same_bank</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_FOUND_ID_0</name>
        <label>IF FOUND</label>
        <locationX>404</locationX>
        <locationY>437</locationY>
        <defaultConnector>
            <targetReference>CREATE_CONTACT_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_CONTACT_WHIS_SAME_Passport_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_same_bank_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_isnew_0</name>
        <label>if isnew</label>
        <locationX>476</locationX>
        <locationY>116</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>id</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Israeli_ID_number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Israeli_ID_number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_CONTACT_WHIS_SAME_ID</targetReference>
            </connector>
            <label>ת.ז.</label>
        </rules>
        <rules>
            <name>PassportNumber</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Passport_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Passport_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_CONTACT_WHIS_SAME_Passport_Number</targetReference>
            </connector>
            <label>מספר דרכון</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_it_a_shared_apartment</name>
        <label>if it a shared apartment?</label>
        <locationX>1197</locationX>
        <locationY>930</locationY>
        <defaultConnector>
            <targetReference>created_opp_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>yes</defaultConnectorLabel>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_it_a_shared_apartment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>created_opp</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_same_bank</name>
        <label>if same bank</label>
        <locationX>555</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>not_same_bank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bank_account_number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GET_CONTACT_WHIS_SAME_ID.Bank_Account_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_branch_number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GET_CONTACT_WHIS_SAME_ID.Bank_Branch_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GET_CONTACT_WHIS_SAME_ID.Bank_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_Property_damage</targetReference>
            </connector>
            <label>if yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_same_bank_0</name>
        <label>if same bank</label>
        <locationX>370</locationX>
        <locationY>621</locationY>
        <defaultConnector>
            <targetReference>not_same_bank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bank_account_number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GET_CONTACT_WHIS_SAME_Passport_Number.Bank_Account_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_branch_number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GET_CONTACT_WHIS_SAME_Passport_Number.Bank_Branch_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GET_CONTACT_WHIS_SAME_Passport_Number.Bank_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_Property_damage_0</targetReference>
            </connector>
            <label>if yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_satge_new</name>
        <label>if satge = new</label>
        <locationX>922</locationX>
        <locationY>1165</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>satge_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_OPP.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_OPP_0</targetReference>
            </connector>
            <label>satge = new</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>name</name>
        <dataType>String</dataType>
        <expression>&quot;משפחת &quot; &amp; {!$Record.Contact__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Property damage create or update after save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Property damage create or update after save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_CONTACT</name>
        <label>CREATE CONTACT</label>
        <locationX>678</locationX>
        <locationY>879</locationY>
        <connector>
            <targetReference>UPDATE_Property_damage1</targetReference>
        </connector>
        <inputAssignments>
            <field>Bank_Account_Number__c</field>
            <value>
                <elementReference>$Record.Bank_account_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Branch_Number__c</field>
            <value>
                <elementReference>$Record.Bank_branch_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>$Record.Bank_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>$Record.Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cherum_Eligebility_Reason__c</field>
            <value>
                <elementReference>$Record.Cherum_Eligebility_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Citizenship__c</field>
            <value>
                <elementReference>$Record.Citizenship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Date__c</field>
            <value>
                <elementReference>$Record.Incident_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Description__c</field>
            <value>
                <elementReference>$Record.Incident_Description_External__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Israeli_ID_number__c</field>
            <value>
                <elementReference>$Record.Israeli_ID_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREATE_CONTACT_0</name>
        <label>CREATE CONTACT</label>
        <locationX>468</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>UPDATE_Property_damage1_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Bank_Account_Number__c</field>
            <value>
                <elementReference>$Record.Bank_account_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Branch_Number__c</field>
            <value>
                <elementReference>$Record.Bank_branch_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>$Record.Bank_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cherum_Eligebility_Reason__c</field>
            <value>
                <elementReference>$Record.Cherum_Eligebility_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Citizenship__c</field>
            <value>
                <elementReference>$Record.Citizenship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Date__c</field>
            <value>
                <elementReference>$Record.Incident_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Description__c</field>
            <value>
                <elementReference>$Record.Incident_Description_External__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_Number__c</field>
            <value>
                <elementReference>$Record.Passport_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>created_opp</name>
        <label>created opp</label>
        <locationX>1215</locationX>
        <locationY>1111</locationY>
        <connector>
            <targetReference>update_opp2</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>4000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fund__c</field>
            <value>
                <stringValue>a0uN200000AYVQDIA5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_damage__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124L000000ka1WQAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_source__c</field>
            <value>
                <stringValue>טעינה אוטומטית</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Requested_Amount__c</field>
            <value>
                <numberValue>4000.0</numberValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>created_opp_0</name>
        <label>created opp</label>
        <locationX>1376</locationX>
        <locationY>1070</locationY>
        <connector>
            <targetReference>update_opp2_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>2000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fund__c</field>
            <value>
                <stringValue>a0uN200000AYVQDIA5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_damage__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124L000000ka1WQAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_source__c</field>
            <value>
                <stringValue>טעינה אוטומטית</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Requested_Amount__c</field>
            <value>
                <numberValue>2000.0</numberValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_CONTACT_WHIS_SAME_ID</name>
        <label>GET CONTACT WHIS SAME ID</label>
        <locationX>551</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_FOUND_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Israeli_ID_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Israeli_ID_number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_CONTACT_WHIS_SAME_Passport_Number</name>
        <label>GET CONTACT WHIS SAME Passport Number</label>
        <locationX>430</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_FOUND_ID_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Passport_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Passport_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_OPP</name>
        <label>GET OPP</label>
        <locationX>1046</locationX>
        <locationY>775</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_FOUND</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fund__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0uN200000AYVQDIA5</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_OPP</name>
        <label>UPDATE OPP</label>
        <locationX>934</locationX>
        <locationY>1038</locationY>
        <connector>
            <targetReference>if_satge_new</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_OPP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Property_damage__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_source__c</field>
            <value>
                <stringValue>טעינה אוטומטית</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_opp2</name>
        <label>update opp</label>
        <locationX>1208</locationX>
        <locationY>1417</locationY>
        <connector>
            <targetReference>update_opp2_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>created_opp</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_opp2_0</name>
        <label>update opp</label>
        <locationX>1393</locationX>
        <locationY>1362</locationY>
        <connector>
            <targetReference>update_opp2_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>created_opp_0</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_opp2_0_0</name>
        <label>update opp</label>
        <locationX>1283</locationX>
        <locationY>1492</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>created_opp</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ready for transfer to ERP</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_opp2_0_0_0</name>
        <label>update opp</label>
        <locationX>1468</locationX>
        <locationY>1437</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>created_opp_0</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ready for transfer to ERP</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_OPP_0</name>
        <label>UPDATE OPP</label>
        <locationX>946</locationX>
        <locationY>1309</locationY>
        <connector>
            <targetReference>UPDATE_OPP_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_OPP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_OPP_0_0</name>
        <label>UPDATE OPP</label>
        <locationX>1001</locationX>
        <locationY>1456</locationY>
        <connector>
            <targetReference>update_payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_OPP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ready for transfer to ERP</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_payment</name>
        <label>update payment</label>
        <locationX>983</locationX>
        <locationY>1590</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_OPP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERP_Status__c</field>
            <value>
                <stringValue>Ready for Transfer to ERP</stringValue>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Property_damage</name>
        <label>UPDATE Property_damage</label>
        <locationX>568</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>GET_OPP</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>GET_CONTACT_WHIS_SAME_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Property_damage1</name>
        <label>UPDATE Property_damage</label>
        <locationX>704</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>GET_OPP</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>CREATE_CONTACT</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Property_damage1_0</name>
        <label>UPDATE Property_damage</label>
        <locationX>468</locationX>
        <locationY>1023</locationY>
        <connector>
            <targetReference>GET_OPP</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>CREATE_CONTACT_0</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Property_damage_0</name>
        <label>UPDATE Property_damage</label>
        <locationX>368</locationX>
        <locationY>886</locationY>
        <connector>
            <targetReference>GET_OPP</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>GET_CONTACT_WHIS_SAME_Passport_Number.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>77</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>if_isnew_0</targetReference>
        </connector>
        <object>Property_damage__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
