force-app/main/default/flows/Receipt_Duplication_check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Rec_duplicate_False</name>
        <label>Assign Rec duplicate False</label>
        <locationX>849</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>Rec_Duplicate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Rec_duplicate_true</name>
        <label>Assign Rec duplicate true</label>
        <locationX>503</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>Rec_Duplicate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Receipt_found</name>
        <label>Is Receipt found</label>
        <locationX>649</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Assign_Rec_duplicate_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Receipt Not found</defaultConnectorLabel>
        <rules>
            <name>Receipt_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Receipt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rec_duplicate_true</targetReference>
            </connector>
            <label>Receipt Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Receipt - Duplication check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Receipt - Duplication check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Receipt</name>
        <label>Get Receipt</label>
        <locationX>656</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Receipt_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opp_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Rec_Amount</elementReference>
            </value>
        </filters>
        <filters>
            <field>Receipt_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Rec_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Rec_Number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Receipt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>531</locationX>
        <locationY>102</locationY>
        <connector>
            <targetReference>Get_Receipt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Opp_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Rec_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Rec_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Rec_Duplicate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Rec_Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
