force-app/main/default/flows/Receipt_Update_receipts_counts_upon_delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Whats_is_the_status</name>
        <label>Whats is the status</label>
        <locationX>527</locationX>
        <locationY>373</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uploaded unchecked yet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_unchecked</targetReference>
            </connector>
            <label>Unchecked</label>
        </rules>
        <rules>
            <name>valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_valid</targetReference>
            </connector>
            <label>valid</label>
        </rules>
        <rules>
            <name>Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invalid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invalid</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Invalid_new_amount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Item__r.Invalid_Receipt_Sum__c}-{!$Record.Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Invalid_new_count</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Item__r.Invalid_Receipt_Count__c}-1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Unchecked_new_amount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Item__r.Unchecked_Receipt_Sum__c}-{!$Record.Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Unchecked_new_count</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Item__r.Unchecked_Receipt_Count__c}-1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Valid_new_amount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Item__r.Valid_Receipt_Sum__c}-{!$Record.Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Valid_new_count</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Item__r.Valid_Receipt_Count__c}-1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Receipt - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Receipt -Update receipts counts upon delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Invalid</name>
        <label>Update Invalid</label>
        <locationX>696</locationX>
        <locationY>543</locationY>
        <inputAssignments>
            <field>Invalid_Receipt_Count__c</field>
            <value>
                <elementReference>Invalid_new_count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invalid_Receipt_Sum__c</field>
            <value>
                <elementReference>Invalid_new_amount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Item__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_unchecked</name>
        <label>update unchecked</label>
        <locationX>390</locationX>
        <locationY>515</locationY>
        <inputAssignments>
            <field>Unchecked_Receipt_Count__c</field>
            <value>
                <elementReference>Unchecked_new_count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unchecked_Receipt_Sum__c</field>
            <value>
                <elementReference>Unchecked_new_amount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Item__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_valid</name>
        <label>Update valid</label>
        <locationX>535</locationX>
        <locationY>515</locationY>
        <inputAssignments>
            <field>Valid_Receipt_Count__c</field>
            <value>
                <elementReference>Valid_new_count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_Receipt_Sum__c</field>
            <value>
                <elementReference>Valid_new_amount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Item__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>72</locationY>
        <connector>
            <targetReference>Whats_is_the_status</targetReference>
        </connector>
        <object>Receipt__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
