force-app/main/default/flows/Remove_Deleted_Eligibility_From_Multi_Select_Picklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Multi_Picklist_Current_Value</name>
        <label>Assign Multi-Picklist Current Value</label>
        <locationX>1634</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>Current_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Eligibility_type_multi_select__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Eligibility_type_multi_select__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_Deleted_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Multi_Select</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Bereaved_parents</name>
        <label>Bereaved parents</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>Current_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Eligibility_type_multi_select__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Eligibility_type_multi_select__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bereavedparents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Multi_Select</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parents_of_a_hostage</name>
        <label>Parents of a hostage</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>Current_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Eligibility_type_multi_select__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Eligibility_type_multi_select__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parentsofahostage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Multi_Select</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Survivor_from_the_7_10_party</name>
        <label>Survivor from the 7.10 party</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>Current_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Eligibility_type_multi_select__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Eligibility_type_multi_select__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survivorfromthe710party</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Multi_Select_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Victims_of_hostilities_recognized_by_BL</name>
        <label>Victims of hostilities recognized by BL</label>
        <locationX>1106</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>Current_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Eligibility_type_multi_select__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Eligibility_type_multi_select__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VictimsofhostilitiesrecognizedbyBL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Multi_Select_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VictimsOfAmKalaviRecognizedbyBL</name>
        <label>Victims Of Am Kalavi Recognized by BL</label>
        <locationX>1370</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>Current_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Eligibility_type_multi_select__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Eligibility_type_multi_select__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VictimsAmKalavi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Multi_Select_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_found</name>
        <label>if found</label>
        <locationX>710</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>update_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ce</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_contact_0</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <decisions>
        <name>mapping</name>
        <label>mapping</label>
        <locationX>908</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Multi_Picklist_Contains_Deleted_Eligibility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Divorced_Bereaved_parents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Divorced Bereaved parents</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bereaved_parents</targetReference>
            </connector>
            <label>Divorced Bereaved parents</label>
        </rules>
        <rules>
            <name>Divorced_parents_of_hostage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Divorced parents of hostage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parents_of_a_hostage</targetReference>
            </connector>
            <label>Divorced parents of hostage</label>
        </rules>
        <rules>
            <name>Survivor_from_the_7_10_party_taking_part_in_a_recognized_rehabilitation_program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survivor_from_the_7_10_party</targetReference>
            </connector>
            <label>Survivor from the 7.10 party taking part in a recognized rehabilitation program</label>
        </rules>
        <rules>
            <name>Victims_of_hostilities_recognized_by_Bituach_Leumi_for_eligibility_of_20_or_more</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Victims_of_hostilities_recognized_by_BL</targetReference>
            </connector>
            <label>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</label>
        </rules>
        <rules>
            <name>Am_Kalavi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of &quot;Am Kalavi&quot; who were recognized with 20% disability or more by the Bituach Leumi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VictimsOfAmKalaviRecognizedbyBL</targetReference>
            </connector>
            <label>Am Kalavi</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multi_Picklist_Contains_Deleted_Eligibility</name>
        <label>Multi-Picklist Contains Deleted Eligibility?</label>
        <locationX>1766</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Eligibility_type_multi_select__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Eligibility_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Multi_Picklist_Current_Value</targetReference>
            </connector>
            <label>Contains</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Bereavedparents</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
{!Current_Value},&apos;Bereaved parents;&apos;, &apos;&apos;),&apos;Bereaved parents&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Parentsofahostage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
{!Current_Value},&apos;Parents of a hostage;&apos;, &apos;&apos;),&apos;Parents of a hostage&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Remove_Deleted_Record</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
{!Current_Value},{!Value_to_Remove}, &apos;&apos;),TEXT({!$Record.Eligibility_Type__c}),&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Survivorfromthe710party</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
{!Current_Value},&apos;Survivor from the 7.10 party;&apos;, &apos;&apos;),&apos;Survivor from the 7.10 party&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Value_to_Remove</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Eligibility_Type__c})+&apos;;&apos;</expression>
    </formulas>
    <formulas>
        <name>VictimsAmKalavi</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
{!Current_Value},&apos;Victims of &quot;Am Kalavi&quot; who were recognized with 20% disability or more by the Bituach Leumi;&apos;, &apos;&apos;),&apos;Victims of &quot;Am Kalavi&quot; who were recognized with 20% disability or more by the Bituach Leumi&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>VictimsofhostilitiesrecognizedbyBL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
{!Current_Value},&apos;Victims of hostilities recognized by BL;&apos;, &apos;&apos;),&apos;Victims of hostilities recognized by BL&apos;,&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Remove Deleted Eligibility From Multi-Select Picklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove Deleted Eligibility From Multi-Select Picklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_ce</name>
        <label>get ce</label>
        <locationX>710</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Percentage_of_hostility_disability__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>908</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_contact</name>
        <label>update contact</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Eligibility_end_date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_start_date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_type__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Percentage_of_hostility_disability__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Recognized_by_Bituach_leumi__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recognized_general_disability__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_contact_0</name>
        <label>update contact</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Eligibility_end_date__c</field>
            <value>
                <elementReference>get_ce.Eligibility_end_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_start_date__c</field>
            <value>
                <elementReference>get_ce.Eligibility_start_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_type__c</field>
            <value>
                <elementReference>get_ce.BL_Eligibility_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percentage_of_hostility_disability__c</field>
            <value>
                <elementReference>get_ce.Percentage_of_hostility_disability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recognized_by_Bituach_leumi__c</field>
            <value>
                <elementReference>get_ce.Recognized_by_Bituach_Leumi__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recognized_general_disability__c</field>
            <value>
                <elementReference>get_ce.Recognized_general_disability__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Multi_Select</name>
        <label>Update Multi-Select</label>
        <locationX>908</locationX>
        <locationY>1319</locationY>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Multi_Select_0</name>
        <label>Update Multi-Select</label>
        <locationX>710</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>get_ce</targetReference>
        </connector>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact_Eligibility__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Current_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
