force-app/main/default/flows/Request_Item_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_request_Item_collection</name>
        <label>Assign request Item collection</label>
        <locationX>626</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>request_items_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_request_item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Requested_Items_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_request_amount_approved</name>
        <label>assignment_request_amount_approved</label>
        <locationX>654</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>var_request_item.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_Items_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_request_item.Amount_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_Items_Loop.Amount_Approved__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_request_item.Updated_by_flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_FRM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_request_item.Notes_after_Committee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_Items_Loop.Notes_after_Committee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_request_item.Amount_Approved_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_Items_Loop.Amount_Approved_1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_request_Item_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_found</name>
        <label>if found</label>
        <locationX>260</locationX>
        <locationY>564</locationY>
        <defaultConnector>
            <targetReference>Update_Request_Item_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_get</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error1</targetReference>
            </connector>
            <label>found get</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>requestItemsCollection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>Request_Item__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Amount_FRM</name>
        <dataType>Currency</dataType>
        <expression>{!Requested_Items_Loop.Amount_Approved__c}+{!VAR_amount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Request Item Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Item Screen - remove canceled request items</label>
    <loops>
        <name>Requested_Items_Loop</name>
        <label>Requested Items Loop</label>
        <locationX>456</locationX>
        <locationY>398</locationY>
        <collectionReference>RequestTable.recordListOut</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignment_request_amount_approved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_RI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_request_items</name>
        <label>get request items</label>
        <locationX>456</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Item_cancelled__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Request_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RI</name>
        <label>get RI</label>
        <locationX>361</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Item_cancelled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount_Approved__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Request_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Amount_and_stage</name>
        <label>Update Amount and stage</label>
        <locationX>456</locationX>
        <locationY>1022</locationY>
        <connector>
            <targetReference>Updated_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>VAR_amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_3</name>
        <label>Update Payment</label>
        <locationX>456</locationX>
        <locationY>914</locationY>
        <connector>
            <targetReference>Update_Amount_and_stage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERP_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>ERP_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Transferred to ERP</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__Payment_Amount__c</field>
            <value>
                <elementReference>VAR_amount</elementReference>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Request_Item_field</name>
        <label>Update Request Item field</label>
        <locationX>415</locationX>
        <locationY>725</locationY>
        <connector>
            <targetReference>Update_Records_3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>request_items_collection</inputReference>
    </recordUpdates>
    <screens>
        <name>error1</name>
        <label>error</label>
        <locationX>158</locationX>
        <locationY>643</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(247, 6, 6);&quot;&gt;שימי לב לא ניתן לאשר את הבקשה כי לא עודכן &apos;סכום מאושר לפריט&apos; באחד מפריטי הבקשה&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>720</locationX>
        <locationY>1130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;שגיאה&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen</name>
        <label>screen</label>
        <locationX>456</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Requested_Items_Loop</targetReference>
        </connector>
        <fields>
            <name>RequestTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Request_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>Tigerface2:flowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Request_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordList</name>
                <value>
                    <elementReference>get_request_items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableMode</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <stringValue>012000000000000AAA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecords</name>
                <value>
                    <elementReference>get_request_items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Name,Contact__c,Description__c,Notes__c,Notes_after_Committee__c,Amount_Approved_1__c,Amount_Approved__c,Invoice_Received__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectMode</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>total_amont_approved_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; סה&quot;כ סכום שאושר בשלב א&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!recordId.Amount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>עדכן</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Updated_Records</name>
        <label>Updated Records</label>
        <locationX>319</locationX>
        <locationY>1008</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;הרשומות התעדכנו בהצלחה&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_request_items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovedAmount</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordIdtext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>request_items_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Request_Item__c</objectType>
    </variables>
    <variables>
        <name>RequestItemCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestItemId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Request_Item__c</objectType>
    </variables>
    <variables>
        <name>VAR_amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_request_item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Request_Item__c</objectType>
    </variables>
</Flow>
