force-app/main/default/flows/Schedule_Flow_Closed_Opportunities_on_16_03_26.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_ContactId</name>
        <label>Set ContactId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ColContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Trough_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Trough_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>There_is_a_Contact_Egibility</name>
        <label>There is a Contact Egibility?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Closed_The_Triggered_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Contact_Eligibilities.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_The_Account</name>
        <label>What is The Freeze of the Account?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.freeze__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>תמונה מלאה עירוני בתהליך חצי ללא אחוזים</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts</targetReference>
            </connector>
            <label>תמונה מלאה עירוני בתהליך חצי ללא אחוזים</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Schedule Flow - Closed Opportunities on 16.03.26 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Flow - Closed Opportunities on 16.03.26</label>
    <loops>
        <name>Loop_Trough_Contacts</name>
        <label>Loop Trough Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_ContactId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Contact_Eligibilities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_The_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Contact_Eligibilities</name>
        <label>Get ALL Contact Eligibilities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_is_a_Contact_Egibility</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR 4) and 5</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ColContactIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Eligibility_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
            </value>
        </filters>
        <filters>
            <field>Eligibility_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
            </value>
        </filters>
        <filters>
            <field>Percentage_of_hostility_disability__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Trough_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Closed_The_Triggered_Opportunity</name>
        <label>Closed The Triggered Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In process</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Once</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-02-23</startDate>
            <startTime>09:14:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ColContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
