force-app/main/default/flows/Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>STAGENEW</name>
        <label>הודעת מערכת למי שהבקשה שלו בסטטוס חדש</label>
        <locationX>777</locationX>
        <locationY>454</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info.vot@jafi.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XN2000004nC49MAE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>IF_STAGE_NEW</name>
        <label>IF STAGE = NEW</label>
        <locationX>742</locationX>
        <locationY>306</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>STAGE_NEW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Num_of_opp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Activity_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>DATETIME</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Campaign_Source_FOMULA__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>כח משימה חרבות ברזל 2024</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Amount_Eligible_in_Family_new__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Don_t_send_mailings__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.npe01__One2OneContact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STAGENEW</targetReference>
            </connector>
            <label>STAGE = NEW</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DATETIME</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
  ADDMONTHS(DATEVALUE(NOW()), -1.5)
  + (NOW() - DATETIMEVALUE(DATEVALUE(NOW())))
)</expression>
    </formulas>
    <interviewLabel>Schedule הודעת מערכת למי שהבקשה שלו בסטטוס חדש {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule הודעת מערכת למי שהבקשה שלו בסטטוס חדש</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>665</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>IF_STAGE_NEW</targetReference>
        </connector>
        <object>Opportunity</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-06-19</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
