force-app/main/default/flows/Screen_Flow_Send_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>d</description>
        <name>Board_Member_Send_Email</name>
        <label>Board Member - Send Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info.vot@jafi.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Account_Get_Chosen_Email_Templet.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
            <value>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
            <value>
                <elementReference>File_Upload_2.contentVersionIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>0033z00002pui0JAAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>0013z00002VQpNoAAL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Extract_Emails_from_Report</name>
        <label>Extract Emails from Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ReportEmailExtractor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Report_Get_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_NoAccounts</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>reportId</name>
            <value>
                <elementReference>DT_ChosenReprot.firstSelectedRow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ReportEmailExtractor</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>emails</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>שימו לב!!
ה-Recipient ID מוגדר סתם על contact של בדיקות (חובה שיהיה עד אחד כזה עם מייל שלנו - זה שולח מייל גם אליו)</description>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>emails</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>info.vot@jafi.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>DT_Email.firstSelectedRow.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
            <value>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>003N200000kVY1KIAW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <description>שימו לב!!
ה-Recipient ID מוגדר סתם על contact של בדיקות (חובה שיהיה עד אחד כזה עם מייל שלנו - זה שולח מייל גם אליו)</description>
        <name>Send_Email_With_File</name>
        <label>Send Email With File</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>info.vot@jafi.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>DT_Email.firstSelectedRow.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
            <value>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
            <value>
                <elementReference>File_Upload_1.contentVersionIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>003N200000kVY1KIAW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_Id</name>
        <label>Assign Account Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>v_AccountsColl_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Account.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Countact_Id_SMS</name>
        <label>Assign Countact Id SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>v_SMS_Single.smagicinteract__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId_From_SMS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_SMS_Single.smagicinteract__Automation_Key_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Converse_App_Action.smagicinteract__Automation_Key__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_SMS_Coll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_SMS_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactId_From_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Counters</name>
        <label>Assign Counters</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>v_NumberofContact</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Report_Get_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_NumberofEmail</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>emails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_There_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task</name>
        <label>Assign Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>r_Activity_Task_Single.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Activity_Task_Single.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Activity_Task_Single.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email From Report</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Activity_Task_Single.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Activity_Task_Single.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>אימייל טמפלט שנשלח: {!DT_Email.firstSelectedRow.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Activity_Task_Single.CompletedDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Activity_Task_Single.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Activity_Task_Coll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>r_Activity_Task_Single</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>R_EmailMessageSingle.EmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DT_Email.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>R_EmailMessageSingle.FromName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>R_EmailMessageSingle.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DT_Email.firstSelectedRow.HtmlValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>R_EmailMessageSingle.MessageDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>R_EmailMessageSingle.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DT_Email.firstSelectedRow.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>R_EmailMessageSingle.RelatedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_EmailMessageColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>R_EmailMessageSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Campaign_Assign_Countact_Id_SMS</name>
        <label>Campaign Assign Countact Id SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>v_SMS_Single.smagicinteract__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign_ContactId_From_SMS.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_SMS_Single.smagicinteract__Automation_Key_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign_Get_Converse_App_Action.smagicinteract__Automation_Key__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_SMS_Coll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_SMS_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_ContactId_From_SMS</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_EmailFromAccounts</name>
        <choiceIcon>
            <iconName>standard:account</iconName>
        </choiceIcon>
        <choiceText>אימייל - בחירת חברי דירקטוריון</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_EmailFromReport</name>
        <choiceIcon>
            <iconName>standard:email_chatter</iconName>
        </choiceIcon>
        <choiceText>&lt;p class=&quot;ql-direction-rtl&quot;&gt;אימייל - מדו&quot;ח&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Preview_ChosenEmail</name>
        <choiceIcon>
            <iconName>utility:email</iconName>
        </choiceIcon>
        <choiceText>{!DT_Email.firstSelectedRow.Name}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>c_Preview_ChosenReport</name>
        <choiceIcon>
            <iconName>utility:form</iconName>
        </choiceIcon>
        <choiceText>{!DT_ChosenReprot.firstSelectedRow.Name}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>c_SMStoCampaign</name>
        <choiceIcon>
            <iconName>standard:sms</iconName>
        </choiceIcon>
        <choiceText>&lt;p class=&quot;ql-direction-rtl&quot;&gt;SMS - לחברי קמפין&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_SMStoContact</name>
        <choiceIcon>
            <iconName>standard:contact</iconName>
        </choiceIcon>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;SMS - בחירה חופשית&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Whatsapp</name>
        <choiceIcon>
            <iconName>standard:whatsapp</iconName>
        </choiceIcon>
        <choiceText>WhatsApp - מעמודת פלאפון מדו&quot;ח</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Have_Files</name>
        <label>Have Files?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Email_With_File</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>File Include</defaultConnectorLabel>
        <rules>
            <name>File_Not_Include</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>File_Upload_1.contentDocIds</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>File_Upload_1.contentDocIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>File_Upload_1.contentDocIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>File Not Include</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_Accounts</name>
        <label>Is There Accounts?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_Preview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Accounts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Report_Get_Contact</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Report_Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_NoAccounts</targetReference>
            </connector>
            <label>No Accounts</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Option_was_Chosen</name>
        <label>What Option was Chosen?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Extract_Emails_from_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email From Report</defaultConnectorLabel>
        <rules>
            <name>SMS_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSG_Option_0.selectedChoiceValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Members</targetReference>
            </connector>
            <label>SMS Campaign</label>
        </rules>
        <rules>
            <name>SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSG_Option_0.selectedChoiceValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>SMS</label>
        </rules>
        <rules>
            <name>Email_From_Board_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSG_Option_0.selectedChoiceValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Get_Chosen_Email_Templet</targetReference>
            </connector>
            <label>Email From Board Member</label>
        </rules>
    </decisions>
    <description>גרסה 2 - שיפור חווית שליחת SMS למשתמשי קמפיין מרובים</description>
    <environments>Default</environments>
    <formulas>
        <name>f_ContactDynamic</name>
        <dataType>String</dataType>
        <expression>{!Company_DT.firstSelectedRow.Id}</expression>
    </formulas>
    <formulas>
        <name>f_FileMSG</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK({!File_Upload_1.contentDocIds})),
  &quot;&lt;span style=&apos;color:#2e7d32;font-weight:600&apos;&gt;הקובץ עלה בהצלחה&lt;/span&gt;&quot;,
  &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>f_FileMSG2</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK({!File_Upload_2.contentDocIds})),
  &quot;&lt;span style=&apos;color:#2e7d32;font-weight:600&apos;&gt;הקובץ עלה בהצלחה&lt;/span&gt;&quot;,
  &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>Screen Flow - Send Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Send Email</label>
    <loops>
        <name>Campaign_ContactId_From_SMS</name>
        <label>Campaign ContactId From SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Campaign_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Campaign_Assign_Countact_Id_SMS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Campaign_Create_SMS_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ContactId_From_SMS</name>
        <label>ContactId From SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Copy_1_of_Company_DT.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Countact_Id_SMS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SMS_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Account</name>
        <label>Loop Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Company_DT.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Board_Member_Send_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Contact</name>
        <label>Loop Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Report_Get_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Campaign_Create_SMS_Records</name>
        <label>Campaign Create SMS Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_SMS_Success</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <inputReference>v_SMS_Coll</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_EmailMessage</name>
        <label>Create EmailMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <inputReference>r_EmailMessageColl</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Records</name>
        <label>Create SMS Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_SMS_Success</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <inputReference>v_SMS_Coll</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_EmailMessage</targetReference>
        </connector>
        <inputReference>r_Activity_Task_Coll</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Account_Get_Chosen_Email_Templet</name>
        <label>Account - Get Chosen Email Templet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DT_Email.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Campaign_Get_Chosen_Converse_Template</name>
        <label>Campaign Get Chosen Converse Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Get_Converse_App_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>smagicinteract__Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DT_SMS_Template.firstSelectedRow.smagicinteract__Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>smagicinteract__SMS_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Campaign_Get_Converse_App_Action</name>
        <label>Campaign Get Converse App Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_ContactId_From_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>smagicinteract__SMS_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign_Get_Chosen_Converse_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>smagicinteract__Converse_App_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ger_Email_Template</name>
        <label>Ger Email Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reports</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Screen_Preview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_contact_Mobile_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Converse_Template</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Members</name>
        <label>Get Campaign Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Contact_Screen_Preview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Camp_DT.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Chosen_Converse_Template</name>
        <label>Get Chosen Converse Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Converse_App_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>smagicinteract__Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DT_SMS_Template.firstSelectedRow.smagicinteract__Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>smagicinteract__SMS_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Chosen_Email_Templet</name>
        <label>Get Chosen Email Templet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Counters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DT_Email.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_BM_Screen_Preview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0524811040</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converse_App_Action</name>
        <label>Get Converse App Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactId_From_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>smagicinteract__SMS_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Chosen_Converse_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>smagicinteract__Converse_App_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converse_Template</name>
        <label>Get Converse Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Chosen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>smagicinteract__SMS_Template__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reports</name>
        <label>Get Reports</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Report</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Report_Get_Contact</name>
        <label>Report - Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Chosen_Email_Templet</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>In</operator>
            <value>
                <elementReference>emails</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Account_Screen_Preview</name>
        <label>Account- Screen Preview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Account</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Preview_ChosenEmail</name>
            <choiceReferences>c_Preview_ChosenEmail</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_Preview_ChosenEmail</defaultSelectedChoiceReference>
            <fieldText>האימייל טמפלט שנבחר</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Accounts_msg</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 61, 182); font-size: 18px;&quot;&gt;&lt;u&gt;בחירת אנשי קשר&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Company_DT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>אנשי קשר</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <elementReference>v_1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c64e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;AccountNumber&quot;,&quot;guid&quot;:&quot;column-fbad&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email__c&quot;,&quot;guid&quot;:&quot;column-8429&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;אימייל&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;מייל איש קשר ראשי&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>8</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>File_Upload_2</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>העלאת קובץ</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FileMSG2</name>
            <fieldText>&lt;p style=&quot;direction: rtl;&quot;&gt;{!f_FileMSG2}&lt;/p&gt;&lt;p style=&quot;direction: rtl;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;תצוגה מקדימה&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;{!r_AccountsEmailPeview}&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;קבצים&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;{!File_Upload_2.fileNames}&lt;/p&gt;&lt;p style=&quot;direction: rtl;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>שליחה</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Campaign_Contact_Screen_Preview</name>
        <label>Campaign Contact - Screen Preview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Campaign_Get_Chosen_Converse_Template</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_2_of_Accounts_msg</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 61, 182);&quot;&gt;&lt;u&gt;בחירת אנשי קשר&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Campaign_DT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>CampaignMember</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>אנשי קשר</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Campaign_Members</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b07e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MobilePhone&quot;,&quot;guid&quot;:&quot;column-0d72&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Mobile&quot;,&quot;type&quot;:&quot;phone&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Get_Campaign_Members</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>8</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_BM_Screen_Preview</name>
        <label>Contact - Screen Preview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Chosen_Converse_Template</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Accounts_msg</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 61, 182);&quot;&gt;&lt;u&gt;בחירת אנשי קשר&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Company_DT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>אנשי קשר</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <elementReference>v_1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Contact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;MobilePhone&quot;,&quot;guid&quot;:&quot;column-042f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Mobile Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e0cf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;npe01__Type_of_Account__c&quot;,&quot;guid&quot;:&quot;column-cede&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Type of Account&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>8</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Chosen</name>
        <label>Screen_Chosen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_Option_was_Chosen</targetReference>
        </connector>
        <fields>
            <name>MSG_Option_0</name>
            <choiceReferences>c_EmailFromReport</choiceReferences>
            <choiceReferences>c_SMStoCampaign</choiceReferences>
            <choiceReferences>c_SMStoContact</choiceReferences>
            <extensionName>flowruntime:visualPicker</extensionName>
            <fieldText>בחירת פעולה</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>visualPickerSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>10</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Chosen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Chosen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MSG_0</name>
                    <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 90, 255);&quot;&gt;&lt;u&gt;בחירת אימייל טמפלט&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>MSG_Option_0.selectedChoiceValues</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>1</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DT_Email</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>EmailTemplate</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>בחירת אימייל טמפלט</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Ger_Email_Template</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4d0b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;אימייל טמפלט&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Email Template Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Subject&quot;,&quot;guid&quot;:&quot;column-4adf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;נושא&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Subject&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastModifiedDate&quot;,&quot;guid&quot;:&quot;column-163a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;תאריך עדכון אחרון&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Last Modified Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>DT_Email.selectedRows</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>MSG_Option_0.selectedChoiceValues</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>1</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>MSG_Option_0.selectedChoiceValues</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>2</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Space</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 90, 255); font-size: 16px;&quot;&gt;&lt;u&gt;בחירת דו&quot;ח&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>MSG_Option_0.selectedChoiceValues</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>1</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DT_ChosenReprot</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Report</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Reports</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8ec0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Report Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastModifiedDate&quot;,&quot;guid&quot;:&quot;column-96d4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;תאריך עדכון אחרון&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Modified Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>בחירת דו&quot;ח</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>MSG_Option_0.selectedChoiceValues</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>1</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>File_Upload_1</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>העלאת קובץ</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>MSG_Option_0.selectedChoiceValues</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>1</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FileMSG</name>
                    <fieldText>&lt;p&gt;{!f_FileMSG}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Chosen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TemplatePreview</name>
                    <fieldText>&lt;p&gt;{!r_EmailPreview2}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DT_Email.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MSG_5</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 90, 255); font-size: 16px;&quot;&gt;&lt;u&gt;בחירת קמפיין&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MSG_Option_0.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>4</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Camp_DT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Campaign</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Campaign</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1fee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-c8f5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;NumberOfContacts&quot;,&quot;guid&quot;:&quot;column-ca42&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Contacts in Campaign&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MSG_Option_0.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>4</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MSG_6</name>
            <fieldText>&lt;p style=&quot;direction: rtl;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 90, 255); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;בחירת טמפלט&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>MSG_Option_0.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>4</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>MSG_Option_0.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>5</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DT_SMS_Template</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>smagicinteract__SMS_Template__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Converse_Template</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;smagicinteract__Text__c&quot;,&quot;guid&quot;:&quot;column-eb3d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Text&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>MSG_Option_0.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>4</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>MSG_Option_0.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>5</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Error</name>
        <label>Screen_Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_3_of_NoAccounts</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl; text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;התקבלה שגיאה בתהליך&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;direction: rtl; text-align: center;&quot; class=&quot;ql-direction-rtl&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;יש לפנות למנהל מערכת&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;direction: rtl; text-align: center;&quot; class=&quot;ql-direction-rtl&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl; text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!$Flow.CurrentDateTime}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_NoAccounts</name>
        <label>Screen_NoAccounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>הקודם</backButtonLabel>
        <fields>
            <name>NoAccounts</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl; text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;לא קיימת עמודת אימייל בדו&quot;ח הנבחר&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Preview</name>
        <label>Screen_Preview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>הקודם</backButtonLabel>
        <connector>
            <targetReference>Have_Files</targetReference>
        </connector>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 61, 182); font-size: 20px;&quot;&gt;מסך סיכום לפני שליחה&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Preview_ChosenEmail</name>
            <choiceReferences>c_Preview_ChosenEmail</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_Preview_ChosenEmail</defaultSelectedChoiceReference>
            <fieldText>האימייל טמפלט שנבחר</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>10</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Preview_ChosenReport</name>
            <choiceReferences>c_Preview_ChosenReport</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_Preview_ChosenReport</defaultSelectedChoiceReference>
            <fieldText>הדו&quot;ח שנבחר</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>10</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reporst_Contact_DT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>אנשי קשר מהדו&quot;ח</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Report_Get_Contact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-a345&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-d50a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-a7d4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>8</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Preview1</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl; text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 90, 255);&quot;&gt;סה&quot;כ נמצאו &lt;u&gt;{!v_NumberofEmail} &lt;/u&gt;כתובות מייל יחודיות&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 90, 255);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 90, 255);&quot;&gt;שאליהם ישלח המייל מתוך {!v_NumberofContact} אנשי קשר עם הכתובות מייל שנמצאו בדו&quot;ח.&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;תצוגה מקדימה&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!r_EmailPeview}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;קבצים&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!File_Upload_1.fileNames}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>שליחה</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_SMS_Success</name>
        <label>Screen SMS Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_NoAccounts</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl; text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(19, 212, 62);&quot;&gt; ה-SMS נשלח בהצלחה&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>fabullousConfetti</name>
            <extensionName>adminshelper:fabullousConfettiFlowComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>confetti</name>
                <value>
                    <stringValue>Helau</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Screen_Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_NoAccounts</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(19, 212, 62); font-size: 20px;&quot;&gt; האימיילים נשלחו בהצלחה&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>fabullousConfetti_2</name>
            <extensionName>adminshelper:fabullousConfettiFlowComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>confetti</name>
                <value>
                    <stringValue>Helau</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ger_Email_Template</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>r_AccountsEmailPeview</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;נושא:&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!Account_Get_Chosen_Email_Templet.Subject}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;{!Account_Get_Chosen_Email_Templet.HtmlValue}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>r_EmailPeview</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;נושא: &lt;/u&gt;&lt;/strong&gt;&lt;u style=&quot;font-size: 16px;&quot;&gt;{!Get_Chosen_Email_Templet.Subject}&lt;/u&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Get_Chosen_Email_Templet.HtmlValue}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>r_EmailPeviewForTask</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/{!DT_Email.firstSelectedRow.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;קישור לטמפלייט שנבחר&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>r_EmailPreview2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;נושא: &lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!DT_Email.firstSelectedRow.Subject}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;{!DT_Email.firstSelectedRow.HtmlValue}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>r_Activity_Task_Coll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>r_Activity_Task_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>r_EmailMessageColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>r_EmailMessageRelationColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessageRelation</objectType>
    </variables>
    <variables>
        <name>r_EmailMessageRelationSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessageRelation</objectType>
    </variables>
    <variables>
        <name>R_EmailMessageSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>v_1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>v_AccountsColl_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_ContactId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_NumberofContact</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>v_NumberofEmail</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>v_NumberofUniqueEmail</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>v_ReEmailColl</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_SMS_Coll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>smagicinteract__Converse_App_Task__c</objectType>
    </variables>
    <variables>
        <name>v_SMS_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>smagicinteract__Converse_App_Task__c</objectType>
    </variables>
    <variables>
        <name>v_UniqueEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
