force-app/main/default/flows/Send_terms_and_conditions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_message</name>
        <label>Send_message</label>
        <locationX>512</locationX>
        <locationY>1332</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Update_Messaging_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Messaging_User_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Tatzir_koach_mesimah_2025</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>Msg_Users</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_IDS</name>
        <label>Assign IDS</label>
        <locationX>864</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>single_ID.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_CM.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>single_ID.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_CM.WhatsApp_message_sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_CM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Messaging_User</name>
        <label>Assign Messaging User</label>
        <locationX>600</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>single_Mess_User.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Msg_Users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>single_Mess_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Messaging_user_to_record_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Messaging_user_to_record_collection</name>
        <label>Assign Messaging user to record collection</label>
        <locationX>600</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>single_Mess_User.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_Mess_User.last_user_input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>למעבר לאישור התצהיר</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_Msg_Users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>single_Mess_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Mes_User_Found</name>
        <label>Mes User Found</label>
        <locationX>776</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Mes_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Temporary_06_01_2026</description>
    <environments>Default</environments>
    <interviewLabel>Send terms and conditions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send terms and conditions</label>
    <loops>
        <name>Loop_2</name>
        <label>Loop 2</label>
        <locationX>512</locationX>
        <locationY>924</locationY>
        <collectionReference>Get_Mes_User</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Messaging_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_CM</name>
        <label>Loop On CM</label>
        <locationX>776</locationX>
        <locationY>408</locationY>
        <collectionReference>Get_Campaign_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_IDS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Mes_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Campaign_Members</name>
        <label>Get Campaign Members</label>
        <locationX>776</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_CM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatsApp_message_sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>80.0</numberValue>
        </limit>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mes_User</name>
        <label>Get Mes User</label>
        <locationX>776</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mes_User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>CM_Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0MjN20000012nldKAA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_campaign_member</name>
        <label>update campaign member</label>
        <locationX>512</locationX>
        <locationY>1548</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>701N200000x9Lo1IAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>CM_Ids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatsApp_message_sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_User</name>
        <label>Update Messaging User</label>
        <locationX>512</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>update_campaign_member</targetReference>
        </connector>
        <inputReference>col_Msg_Users</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_User_0</name>
        <label>Update Messaging User</label>
        <locationX>776</locationX>
        <locationY>1440</locationY>
        <inputReference>col_Msg_Users</inputReference>
    </recordUpdates>
    <start>
        <locationX>656</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_Campaign_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>701N200000xOadE</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2026-01-06</startDate>
            <startTime>12:23:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CM_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_Msg_Users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingEndUser</objectType>
    </variables>
    <variables>
        <name>Msg_Users</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>single_ID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>single_Mess_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingEndUser</objectType>
    </variables>
</Flow>
