force-app/main/default/flows/Summer_25_single_date_fix.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignRelatedOppCount</name>
        <label>AssignRelatedOppCount</label>
        <locationX>925</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>RelatedOppCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetRelatedOpps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFirstChildOpp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsOppFound</name>
        <label>IsOppFound</label>
        <locationX>697</locationX>
        <locationY>382</locationY>
        <defaultConnectorLabel>OppNotFound</defaultConnectorLabel>
        <rules>
            <name>OppFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedOpps</targetReference>
            </connector>
            <label>OppFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>W_R_O_F</name>
        <label>WשדRקךשאקגOפפFםומשWasRelatedOppFoundג</label>
        <locationX>704</locationX>
        <locationY>709</locationY>
        <defaultConnector>
            <targetReference>UpdateSingleChildOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RelatedOppNotFound</defaultConnectorLabel>
        <rules>
            <name>R_O_F</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedOpps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRelatedOppCount</targetReference>
            </connector>
            <label>RelatedOppFound</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MultipleChildAmount_F</name>
        <dataType>Currency</dataType>
        <expression>(1+{!RelatedOppCount})*1000</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Summer 25 single date fix {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Summer 25 single date fix</label>
    <loops>
        <name>RelatedOppLoop</name>
        <label>RelatedOppLoop</label>
        <locationX>948</locationX>
        <locationY>1336</locationY>
        <collectionReference>GetRelatedOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateRelatedOCR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RunDeleteIrreleventOCR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreatePrimaryOCR</name>
        <label>CreatePrimaryOCR</label>
        <locationX>483</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>PrimaryOCR_id</assignRecordIdToReference>
        <connector>
            <targetReference>CreateSingleChildOCR</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetOpp.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>opp_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Summer 25</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>CreatePrimaryOCR_0</name>
        <label>CreatePrimaryOCR</label>
        <locationX>929</locationX>
        <locationY>1024</locationY>
        <assignRecordIdToReference>PrimaryOCR_id</assignRecordIdToReference>
        <connector>
            <targetReference>CreateSingleChildOCR_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetOpp.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>opp_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Summer 25</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>CreateRelatedOCR</name>
        <label>CreateRelatedOCR</label>
        <locationX>1105</locationX>
        <locationY>1329</locationY>
        <connector>
            <targetReference>DeleteCurrentOpp</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>RelatedOppLoop.Child_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>opp_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Summer 25</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSingleChildOCR</name>
        <label>CreateSingleChildOCR</label>
        <locationX>483</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>RunDeleteIrreleventOCR</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetOpp.Child_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>opp_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Summer 25</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSingleChildOCR_0</name>
        <label>CreateFirstChildOCR</label>
        <locationX>939</locationX>
        <locationY>1185</locationY>
        <connector>
            <targetReference>RelatedOppLoop</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetOpp.Child_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>opp_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Summer 25</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteCurrentOpp</name>
        <label>DeleteCurrentOpp</label>
        <locationX>1110</locationX>
        <locationY>1471</locationY>
        <connector>
            <targetReference>RelatedOppLoop</targetReference>
        </connector>
        <inputReference>RelatedOppLoop</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetOpp</name>
        <label>GetOpp</label>
        <locationX>705</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsOppFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opp_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fund__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0uN200000B9FO6IAN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Child_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedOpps</name>
        <label>GetRelatedOpps</label>
        <locationX>712</locationX>
        <locationY>544</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>W_R_O_F</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpp.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fund__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0uN200000B9FO6IAN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Child_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>GetOpp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>RunDeleteIrreleventOCR</name>
        <label>RunDeleteIrreleventOCR</label>
        <locationX>746</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>SetPrimary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opp_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger_Delete_Irrelevent_OCR__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>SetPrimary</name>
        <label>SetPrimary</label>
        <locationX>747</locationX>
        <locationY>1660</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryOCR_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFirstChildOpp</name>
        <label>UpdateFirstChildOpp</label>
        <locationX>927</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>CreatePrimaryOCR_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opp_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>MultipleChildAmount_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child_Contact__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_source__c</field>
            <value>
                <stringValue>טופס מקוון</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSingleChildOpp</name>
        <label>UpdateSingleChildOpp</label>
        <locationX>479</locationX>
        <locationY>745</locationY>
        <connector>
            <targetReference>CreatePrimaryOCR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opp_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child_Contact__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_source__c</field>
            <value>
                <stringValue>טופס מקוון</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>576</locationX>
        <locationY>73</locationY>
        <connector>
            <targetReference>GetOpp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>opp_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryOCR_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedOppCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
