force-app/main/default/flows/test_tamar_for_data_fix.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>TPDATE_TO_Closed</name>
        <label>TPDATE TO Closed</label>
        <locationX>1298</locationX>
        <locationY>785</locationY>
        <assignmentItems>
            <assignToReference>LOOP.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TPDATE_TO_Closed_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TPDATE_TO_Closed_0</name>
        <label>TPDATE TO Closed</label>
        <locationX>1250</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>UPDATEOPP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>fdvfv</name>
        <label>fdvfv</label>
        <locationX>867</locationX>
        <locationY>216</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>fv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.data_fix__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ceav js</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.data_fix__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Signed_Taktzir__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_opp</targetReference>
            </connector>
            <label>fv</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_faound</name>
        <label>if faound</label>
        <locationX>801</locationX>
        <locationY>902</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>fff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_mesima</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_OPP_NEW_OR_IN_PROCESS</targetReference>
            </connector>
            <label>fff</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_FOUND_OPP</name>
        <label>IF FOUND OPP</label>
        <locationX>1015</locationX>
        <locationY>777</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_OPP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_OPP_NEW_OR_IN_PROCESS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP</targetReference>
            </connector>
            <label>YES OPP</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_maanak_balance_1</name>
        <label>if maanak balance &lt; 1</label>
        <locationX>668</locationX>
        <locationY>715</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>maanak_balance_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.data_fix__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nahnvuj</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.data_fix__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Maanak_Shikumi_Balance_in_family_formula__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_mesima</targetReference>
            </connector>
            <label>maanak balance &lt; 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_not_faound</name>
        <label>if not faound</label>
        <locationX>1127</locationX>
        <locationY>310</locationY>
        <defaultConnector>
            <targetReference>update_data_fix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_faound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_opp_0</targetReference>
            </connector>
            <label>not faound</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_not_faound_0</name>
        <label>if not faound</label>
        <locationX>1114</locationX>
        <locationY>439</locationY>
        <defaultConnector>
            <targetReference>update_data_fix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_faound_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opp_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_opp</targetReference>
            </connector>
            <label>not faound</label>
        </rules>
    </decisions>
    <decisions>
        <name>tyfyhvxw</name>
        <label>tyfyhvxw</label>
        <locationX>579</locationX>
        <locationY>147</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>swsw</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.data_fix__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מענק גיל שלישי עם כלביא</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.data_fix__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_opp_0</targetReference>
            </connector>
            <label>swsw</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>test tamar for data fix {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test tamar for data fix</label>
    <loops>
        <name>LOOP</name>
        <label>LOOP</label>
        <locationX>1135</locationX>
        <locationY>764</locationY>
        <collectionReference>GET_OPP_NEW_OR_IN_PROCESS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TPDATE_TO_Closed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UPDATE_OPP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_opp</name>
        <label>create opp</label>
        <locationX>976</locationX>
        <locationY>380</locationY>
        <connector>
            <targetReference>update_payment</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>12500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>701N200000nCv3QIAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <dateValue>2025-11-10</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fund__c</field>
            <value>
                <stringValue>a0uN2000002UzPtIAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>uuuu</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ready for transfer to ERP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>$Record.npe01__One2OneContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Requested_Amount__c</field>
            <value>
                <numberValue>12500.0</numberValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_opp_0</name>
        <label>create opp</label>
        <locationX>559</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>update_payment_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>4000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <dateValue>2025-12-28</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fund__c</field>
            <value>
                <stringValue>a0uN200000EHmZdIAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>uuuu</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ready for transfer to ERP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>$Record.npe01__One2OneContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Requested_Amount__c</field>
            <value>
                <numberValue>4000.0</numberValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_mesima</name>
        <label>get mesima</label>
        <locationX>790</locationX>
        <locationY>760</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_faound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>701N200000nCv3QIAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opp</name>
        <label>get opp</label>
        <locationX>1013</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_not_faound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>701N200000nCv3QIAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opp_0</name>
        <label>get opp</label>
        <locationX>1209</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_not_faound_0</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready for transfer to ERP</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transferred to ERP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fund_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>המענק השיקומי המשלים</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_OPP_NEW_OR_IN_PROCESS</name>
        <label>GET OPP NEW OR IN PROCESS</label>
        <locationX>930</locationX>
        <locationY>799</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_FOUND_OPP</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_data_fix</name>
        <label>update data fix</label>
        <locationX>887</locationX>
        <locationY>604</locationY>
        <inputAssignments>
            <field>data_fix__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_OPP</name>
        <label>UPDATE OPP</label>
        <locationX>1073</locationX>
        <locationY>910</locationY>
        <inputReference>UPDATEOPP</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_payment</name>
        <label>update payment</label>
        <locationX>928</locationX>
        <locationY>496</locationY>
        <connector>
            <targetReference>update_data_fix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>create_opp</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERP_Status__c</field>
            <value>
                <stringValue>Ready for Transfer to ERP</stringValue>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_payment_0</name>
        <label>update payment</label>
        <locationX>511</locationX>
        <locationY>416</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>create_opp_0</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERP_Status__c</field>
            <value>
                <stringValue>Ready for Transfer to ERP</stringValue>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordUpdates>
    <start>
        <locationX>184</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>fdvfv</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UPDATEOPP</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
