force-app/main/default/flows/Update_population_of_all_Contacts_in_Acct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_var_to_col</name>
        <label>Assign var to col</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>AllContactsInAccount_col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RelatedContact_var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_through_all_contacts_in_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_population</name>
        <label>update population</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>RelatedContact_var.Population_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Population_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedContact_var.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_through_all_contacts_in_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_var_to_col</targetReference>
        </connector>
    </assignments>
    <description>According to any updated Contact in the Account</description>
    <environments>Default</environments>
    <interviewLabel>population of all contacts in acct {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update population of all Contacts in Acct</label>
    <loops>
        <name>Go_through_all_contacts_in_Account</name>
        <label>Go through all contacts in Account</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_all_contacts_in_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_population</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_population_type1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_contacts_in_Account</name>
        <label>Get all contacts in Account</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_through_all_contacts_in_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_population_type1</name>
        <label>Update population type</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>AllContactsInAccount_col</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_contacts_in_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Population_type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Population_type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllContactsInAccount_col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>RelatedContact_var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
