force-app/main/default/flows/Update_Contact_With_Contact_Eligibility_info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>If_BL_Eligibilty</name>
        <label>If BL Eligibilty?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_BL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Eligibility_Approved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Record</name>
        <label>Is New Record?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>If_BL_Eligibilty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND ( 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>FormulaIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>There_is_a_CE</name>
        <label>There is a CE?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Contact2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Eligibility_Approved.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Of_Get</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Update Contact With Conatct {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact With Contact Eligibility info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Eligibility_Approved</name>
        <label>Get Contact Eligibility Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_is_a_CE</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR 4)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Eligibility_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
            </value>
        </filters>
        <filters>
            <field>Eligibility_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Eligibility__c</object>
        <sortField>Eligibility_end_date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Eligibility_end_date__c</field>
            <value>
                <elementReference>$Record.Eligibility_end_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_start_date__c</field>
            <value>
                <elementReference>$Record.Eligibility_start_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_type__c</field>
            <value>
                <elementReference>$Record.BL_Eligibility_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percentage_of_hostility_disability__c</field>
            <value>
                <elementReference>$Record.Percentage_of_hostility_disability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recognized_by_Bituach_leumi__c</field>
            <value>
                <elementReference>$Record.Recognized_by_Bituach_Leumi__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recognized_general_disability__c</field>
            <value>
                <elementReference>$Record.Recognized_general_disability__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact2</name>
        <label>Update Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Eligibility_end_date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_start_date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_type__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Percentage_of_hostility_disability__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Recognized_by_Bituach_leumi__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recognized_general_disability__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Of_Get</name>
        <label>Update Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Eligibility_Approved.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Eligibility_end_date__c</field>
            <value>
                <elementReference>Get_Contact_Eligibility_Approved.Eligibility_end_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_start_date__c</field>
            <value>
                <elementReference>Get_Contact_Eligibility_Approved.Eligibility_start_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_type__c</field>
            <value>
                <elementReference>Get_Contact_Eligibility_Approved.BL_Eligibility_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percentage_of_hostility_disability__c</field>
            <value>
                <elementReference>Get_Contact_Eligibility_Approved.Percentage_of_hostility_disability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recognized_by_Bituach_leumi__c</field>
            <value>
                <elementReference>Get_Contact_Eligibility_Approved.Recognized_by_Bituach_Leumi__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recognized_general_disability__c</field>
            <value>
                <elementReference>Get_Contact_Eligibility_Approved.Recognized_general_disability__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Record</targetReference>
        </connector>
        <filterFormula> 
    
    OR(
        ISNEW(),
        ISCHANGED({!$Record.Status__c}),
 
        ISCHANGED({!$Record.Eligibility_start_date__c}),
        ISCHANGED({!$Record.Eligibility_end_date__c}),
        ISCHANGED({!$Record.Percentage_of_hostility_disability__c})
    )</filterFormula>
        <object>Contact_Eligibility__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
