force-app/main/default/flows/Update_Contact_Eligibility_BL_Eligibility_on_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Update Contact Eligibility BL Eligibility on Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Eligibility BL Eligibility on Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Eligibility_record</name>
        <label>Get Contact Eligibility record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_fields</name>
        <label>Update Contact fields</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Eligibility_end_date__c</field>
            <value>
                <elementReference>Get_Contact_Eligibility_record.Eligibility_end_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_start_date__c</field>
            <value>
                <elementReference>Get_Contact_Eligibility_record.Eligibility_start_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_type__c</field>
            <value>
                <elementReference>Get_Contact_Eligibility_record.Eligibility_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percentage_of_hostility_disability__c</field>
            <value>
                <elementReference>Get_Contact_Eligibility_record.Percentage_of_hostility_disability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recognized_by_Bituach_leumi__c</field>
            <value>
                <elementReference>Get_Contact_Eligibility_record.Recognized_by_Bituach_Leumi__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recognized_general_disability__c</field>
            <value>
                <elementReference>Get_Contact_Eligibility_record.Recognized_general_disability__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Eligibility_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Eligibility_type_multi_select__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Victims of hostilities recognized by BL</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
