force-app/main/default/flows/Update_Lead_Region2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Changed_or_Deleted</name>
        <label>Changed or Deleted?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Deleted</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_City_Record</targetReference>
            </connector>
            <label>Changed or new</label>
        </rules>
        <rules>
            <name>Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Other</targetReference>
            </connector>
            <label>Deleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_null</name>
        <label>Is it null?</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There is a Value</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Region</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Other</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Update Lead Region {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Lead Region2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_City_Record</name>
        <label>Get City Record</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </filters>
        <filters>
            <field>City_Name_in_Hebrew__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </filters>
        <filters>
            <field>Google_City_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </filters>
        <object>City_in_Israel__c</object>
        <outputAssignments>
            <assignToReference>Region</assignToReference>
            <field>VOT_Region__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Area_in_Israel__c</field>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Other</name>
        <label>Update Other</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>Area_in_Israel__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Changed_or_Deleted</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.City}) || ISNEW()</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
