force-app/main/default/flows/Update_Contacts_Region_when_Mailing_City_is_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Changed_or_Deleted</name>
        <label>Changed or Deleted?</label>
        <locationX>512</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Deleted</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_City_Record</targetReference>
            </connector>
            <label>Changed or new</label>
        </rules>
        <rules>
            <name>Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ContactDeleted</targetReference>
            </connector>
            <label>Deleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_age_null_or_less_then_18</name>
        <label>if age = null or less then 18</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Changed_or_Deleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>age_null_or_less_then_18</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Age__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Age__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mailing_City_Of_a_Primary_Contact</targetReference>
            </connector>
            <label>age = null or less then 18</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_null</name>
        <label>Is it null?</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Update_contact_s_Israel_Region</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There is a Value</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_City_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Other</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mailing_City_Of_a_Primary_Contact</name>
        <label>There is a Mailing City Of a Primary Contact?</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.npe01__One2OneContact__r.MailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_city</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Update Contacts Region when Mailing City is Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contacts Region when Mailing City is Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_City_Record</name>
        <label>Get City Record</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </filters>
        <filters>
            <field>City_Name_in_Hebrew__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </filters>
        <filters>
            <field>Google_City_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>City_in_Israel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_city</name>
        <label>update city</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Changed_or_Deleted</targetReference>
        </connector>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>View_Setup_and_Configuration__c</field>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__r.View_Setup_and_Configuration__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Changed_or_Deleted</targetReference>
        </connector>
        <inputAssignments>
            <field>View_Setup_and_Configuration__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact_s_Israel_Region</name>
        <label>Update /contact&apos;s Israel Region</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>View_Setup_and_Configuration__c</field>
            <value>
                <elementReference>Get_City_Record.VOT_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ContactDeleted</name>
        <label>Update Contact</label>
        <locationX>578</locationX>
        <locationY>923</locationY>
        <inputAssignments>
            <field>View_Setup_and_Configuration__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Other</name>
        <label>Update Other</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>View_Setup_and_Configuration__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>if_age_null_or_less_then_18</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.MailingCity}) || ISNEW()</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
