force-app/main/default/flows/Update_contact_with_Eligibility_info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>IF_BL_0</name>
        <label>IF BL</label>
        <locationX>511</locationX>
        <locationY>370</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UniqueName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>זכאות לא רלוונטית</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>זכאות לא רלוונטית</label>
        </rules>
        <rules>
            <name>YES_BL_0</name>
            <conditionLogic>1 OR 2 OR (3 AND (1 OR 2))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligibility_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_ce_0</targetReference>
            </connector>
            <label>YES BL</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_find_approved_0</name>
        <label>if find approved</label>
        <locationX>840</locationX>
        <locationY>659</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>yes</defaultConnectorLabel>
        <rules>
            <name>no_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ce_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0_0</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Update contact with Eligibility info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update contact with Contact Eligibility info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_ce_0</name>
        <label>get ce</label>
        <locationX>778</locationX>
        <locationY>534</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_find_approved_0</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Eligibility_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Victims of hostilities recognized by Bituach Leumi for eligibility of 20% or more- physical disability and/or 20% or more - mental disability</stringValue>
            </value>
        </filters>
        <filters>
            <field>Eligibility_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Survivor from the 7.10 party taking part in a recognized rehabilitation program</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_0_0</name>
        <label>Update Contact</label>
        <locationX>748</locationX>
        <locationY>772</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Eligibility_end_date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_start_date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_type__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Percentage_of_hostility_disability__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Recognized_by_Bituach_leumi__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recognized_general_disability__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_0_0_0</name>
        <label>Update Contact</label>
        <locationX>1015</locationX>
        <locationY>711</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ce_0.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Eligibility_end_date__c</field>
            <value>
                <elementReference>get_ce_0.Eligibility_end_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_start_date__c</field>
            <value>
                <elementReference>get_ce_0.Eligibility_start_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_type__c</field>
            <value>
                <elementReference>get_ce_0.BL_Eligibility_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percentage_of_hostility_disability__c</field>
            <value>
                <elementReference>get_ce_0.Percentage_of_hostility_disability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recognized_by_Bituach_leumi__c</field>
            <value>
                <elementReference>get_ce_0.Recognized_by_Bituach_Leumi__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recognized_general_disability__c</field>
            <value>
                <elementReference>get_ce_0.Recognized_general_disability__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>55</locationX>
        <locationY>269</locationY>
        <connector>
            <targetReference>IF_BL_0</targetReference>
        </connector>
        <object>Contact_Eligibility__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
