force-app/main/default/flows/update_status_expired.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>if_end_date_today</name>
        <label>if end date &lt; today</label>
        <locationX>704</locationX>
        <locationY>190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_end_date_today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligibility_end_date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_status_expired</targetReference>
            </connector>
            <label>yes end date &lt; today</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>update status = expired {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update status = expired</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_status_expired</name>
        <label>update status = expired</label>
        <locationX>747</locationX>
        <locationY>320</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>if_end_date_today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>BL_Eligibility_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Temporary</stringValue>
            </value>
        </filters>
        <object>Contact_Eligibility__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-08-19</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
