force-app/main/default/flows/Update_child_in_account_s_address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_contact</name>
        <label>add contact</label>
        <locationX>1359</locationX>
        <locationY>819</locationY>
        <assignmentItems>
            <assignToReference>updatecontact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_var_to_Collection</name>
        <label>Add var to Collection</label>
        <locationX>835</locationX>
        <locationY>837</locationY>
        <assignmentItems>
            <assignToReference>Contact_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact_var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_through_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_contact_to_var</name>
        <label>Assign contact to var</label>
        <locationX>864</locationX>
        <locationY>677</locationY>
        <assignmentItems>
            <assignToReference>Contact_var.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_var.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_var.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_var.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_var.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_var.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_through_contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_var_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>singel</name>
        <label>singel</label>
        <locationX>1340</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>loop.Population_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Population_type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_get_null</name>
        <label>if get &lt;&gt; null</label>
        <locationX>1090</locationX>
        <locationY>685</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>get_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Population_type_c</targetReference>
            </connector>
            <label>get &lt;&gt; null</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_MailingCity_is_chainged</name>
        <label>if MailingCity is chainged</label>
        <locationX>755</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>if_Population_type_c_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MailingCity_is_chainged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>MailingCity is chainged</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Population_type_c_null</name>
        <label>if Population_type__c = null</label>
        <locationX>1069</locationX>
        <locationY>422</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Population_type_c_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Population_type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_0</targetReference>
            </connector>
            <label>Population_type__c = null</label>
        </rules>
        <rules>
            <name>Population_type_c_null1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Population_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ערבי</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_0_0</targetReference>
            </connector>
            <label>Population_type__c &lt;&gt; null</label>
        </rules>
    </decisions>
    <description>לעדכן כתובת מגורי ילד כשמוסיפים אותו למשפחה</description>
    <environments>Default</environments>
    <formulas>
        <name>isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Update child in account&apos;s address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update child in account&apos;s address</label>
    <loops>
        <name>Go_through_contacts</name>
        <label>Go through contacts</label>
        <locationX>776</locationX>
        <locationY>569</locationY>
        <collectionReference>Get_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_contact_to_var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>1269</locationX>
        <locationY>618</locationY>
        <collectionReference>Get_Contact_0_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>singel</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_contact_Population_type_c</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>776</locationX>
        <locationY>461</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_through_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MailingCity</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_0</name>
        <label>Get Contact</label>
        <locationX>1072</locationX>
        <locationY>573</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_get_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Population_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ערבי</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_0_0</name>
        <label>Get Contact</label>
        <locationX>1212</locationX>
        <locationY>484</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Population_type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_contact_Population_type_c</name>
        <label>update contact Population_type__c</label>
        <locationX>1274</locationX>
        <locationY>805</locationY>
        <inputReference>updatecontact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Population_type_c</name>
        <label>update Population_type__c</label>
        <locationX>1094</locationX>
        <locationY>830</locationY>
        <inputAssignments>
            <field>Population_type__c</field>
            <value>
                <elementReference>Get_Contact_0.Population_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_records</name>
        <label>Update records</label>
        <locationX>776</locationX>
        <locationY>977</locationY>
        <connector>
            <targetReference>if_Population_type_c_null</targetReference>
        </connector>
        <inputReference>Contact_collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>78</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>if_MailingCity_is_chainged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124L000000HYN1QAO</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CheckCountOfRecordsReturned_Var</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Contact_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contact_var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>updatecontact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
