force-app/main/default/flows/Validate_fields_before_transferring_request_to_erp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Missing_Bank</name>
        <label>Missing Bank Info</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>MissingBankInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Payments</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Do_not_allow_stage_change</name>
        <label>Do not allow stage change</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <customErrorMessages>
            <errorMessage>Payment is missing some Bank Information. Please provide this Before changing the {!$Record.StageName}.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Bank_Info</name>
        <label>Bank Info?</label>
        <locationX>358</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Missing_Bank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Bank Info</defaultConnectorLabel>
        <rules>
            <name>Beneficiary_has_Bank_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentRecord.Bank_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaymentRecord.Bank_Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaymentRecord.Bank_Branch_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Payments</targetReference>
            </connector>
            <label>Beneficiary has Bank Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Payments_for_Null</name>
        <label>Check Get Payments for Null</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Payments</targetReference>
            </connector>
            <label>Is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Missing_Checked</name>
        <label>Is Missing Checked?</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MissingBankInfo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_not_allow_stage_change</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Validate fields before transferring request to erp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validate fields before transferring request to erp</label>
    <loops>
        <name>Loop_Payments</name>
        <label>Loop Payments</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Payments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Bank_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Missing_Checked</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Payments</name>
        <label>Get Payments</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Payments_for_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready for transfer to ERP</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>MissingBankInfo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PaymentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>PaymentsListOfMissing</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
</Flow>
